<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>


<body>

<div class="header">
  <a href="/main" class="logo">
    <div class="logo_txt">Sports Hub</div>
  </a>
  <div class="text">{{ 'LOGIN.QSTNLOG' | translate}}</div>
  <a href="/register" class="btn">
    <div class="btn_txt">{{ 'LOGIN.REG' | translate}}</div>
  </a>
</div>


<div class="container">

  <h3>{{'FGTPASS.NEWPASS'|translate}}</h3>
  <div class="cont">
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <div class="cont_txt">{{ 'LOGIN.PASS' | translate}}</div>
      <mat-form-field class="full-width" appearance="outline">
        <mat-label>{{ 'LOGIN.ENTPASS' | translate}}</mat-label>
        <input matInput [type]="hide ? 'password' : 'text'" placeholder="New password" formControlName="newPassword">
        <button mat-icon-button type="button" matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
          <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
        <mat-error *ngIf="form.hasError('required','newPassword')">Must be 8 digits at least</mat-error>
      </mat-form-field>

      <div class="cont_txt">{{'LOGIN.CONFPASS'|translate}}</div>
      <mat-form-field class="full-width" appearance="outline">
        <mat-label>{{'LOGIN.CONFPASS'|translate}}</mat-label>
        <input matInput [type]="hide ? 'password' : 'text'" placeholder="Confirm pass" formControlName="confirmPassword">
        <button mat-icon-button type="button" matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
          <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
        <mat-error *ngIf="form.hasError('required','confirmPassword')">Must be 8 digits at least</mat-error>
      </mat-form-field>

      <button mat-raised-button type="submit" class="save-button" [disabled]="form.invalid || form.disabled">{{ 'FGTPASS.SUBMIT' | translate}}</button>
    </form>
  </div>










</div>


<div class="photo_1"></div>
</body>




