<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>


<body>

<div class="header">
  <a href="/main" class="logo">
    <div class="logo_txt">Sports Hub</div>
  </a>
  <div class="text">Don't have an account?</div>
  <a href="/register" class="btn">
    <div class="btn_txt">Get started</div>
  </a>
</div>


<div class="container">

  <h3>Enter your new password.</h3>

  <form [formGroup]="form" (ngSubmit)="onSubmit()">

    <h4>Password</h4>
    <mat-form-field appearance="outline">
      <mat-label>Enter your password</mat-label>
      <input matInput placeholder="" formControlName="newPassword">
      <mat-error *ngIf="form.hasError('required','newPassword')">Not valid</mat-error>
    </mat-form-field>

    <h4>Confirm Password</h4>
    <mat-form-field appearance="outline">
      <mat-label>Enter your password</mat-label>
      <input matInput placeholder="" formControlName="confirmPassword">
      <mat-error *ngIf="form.hasError('required','confirmPassword')">Not valid</mat-error>
    </mat-form-field>

    <button mat-raised-button type="submit" class="save-button" [disabled]="form.invalid">Submit</button>


  </form>








  <h1></h1>
  <!--  <a href="" class="btn2">-->
  <!--    <div class="btn2_txt">Sign Up</div>-->
  <!--  </a>-->


  <!--  <button mat-raised-button class="save-button" [disabled]="form.invalid || !!formError">Log in</button>-->
  <!--  <mat-error *ngIf="formError">{{formError}}</mat-error>-->

</div>


<div class="photo"></div>
</body>




