.box{
  /*background: #ECECEC;*/
  border-top: #333333 2px;
  background: black;
}

.container{
  position: absolute;
  width: 60vh;
  margin: auto;
  right: 20vw;
  top: 10vw;
}


.text{
  position: absolute;
  right: 220px;
  top: 30px;
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 17px;
  color: #434C5D;

}

.btn{
  position: absolute;
  right: 60px;
  top: 23px;
  width: 150px;
  height: 30px;
  border: 1px solid #D72130;
  box-sizing: border-box;
  color: #D72130;
  text-align: center;
  text-decoration: none;
}

.btn2{
  position: absolute;

  width: 100%;
  height: 42px;
  box-sizing: border-box;
  color: white;
  text-align: center;
  text-decoration: none;
  background-color: #D72130;
}



.btn_txt{
  position: absolute;
  text-align: center;
  left: 26.88%;
  right: 26.09%;
  top: 25.33%;
  bottom: 34.94%;
  /*z-index: 100;*/

  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 17px;
  /* identical to box height, or 127% */


  color: #D72130;

}

.btn2_txt{
  position: absolute;
  left: 0%;
  right: 1.89%;
  top: 30%;
  bottom: 0%;

  font-family: 'Roboto', Roboto, "Helvetica Neue", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 14px;
  /* identical to box height, or 117% */

  letter-spacing: 0.8px;
  text-transform: uppercase;

  color: #FFFFFF;
}

.fa {
  padding: 5px;
  font-size: 30px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
}
.fa:hover {
  opacity: 0.7;
}
.fa-facebook {
  background: white;
  color: black;
}

.fa-google {

  background: white;
  color: black;
}

.mat-form-field + .mat-form-field {
  margin-left: 20px;
}

.example-container .mat-form-field + .mat-form-field {
  margin-left: 8px;
}

.save-button {
  color: white;
  background: #D72130;
  width: 30vw;
}
