<div class="header">

  <a href="/main" class="logo">
    <div class="logo_txt">Sports Hub</div>
  </a>
  <div class="line"></div>


  <div class="search-container">
    <input type="text" placeholder="{{ 'HEADER.SEARCH' | translate}}" name="search">
    <button type="submit"><i class="fa fa-search"></i></button>

  </div>
  <app-social-share></app-social-share>
</div>

<div *ngIf="isAdmin">
  <div class="switch_view">
    <a href="/admin_page"><i class="fa fa-rotate-right" aria-hidden="true" style="font-size: 2vw;color: black;"></i></a>
  </div>
</div>

<div *ngIf="authenticated">
  <app-header-user-profile></app-header-user-profile>
</div>

<div *ngIf="!authenticated">
  <a href="/register" class="txt">{{'REG.SIGNUP'|translate}}</a>
  <a href="/login" class="btn">
    <div class="btn_txt">{{'REG.LOGIN'|translate}}</div>
  </a>
</div>


<div class="dealbook">
  <div class="admin-article-list">
    <div class="item-article" *ngFor="let article of articles">
      <img src="{{article.image}}">
      <div class="article-decr">
        <h3>{{article.title}}</h3>
        <p [innerHTML]="article.description">{{article.description}}</p>
      </div>
    </div>
  </div>
</div>

<app-site-footer></app-site-footer>

