.txt1{
  font-family: 'Open Sans', sans-serif;
  color: #919191;
  font-size: 16px;
  text-decoration: none;
}
.profile-container {
  margin-top: -80px;
  float: right;
  text-align: center;
  height: 200px;
  position: absolute;
  margin-left:78vw;
  z-index: 2;
}
.profile{
  margin-top: 15px;
  margin-right: 220px;
}

.profile_img{
  position: absolute;
  width: 40px;
  height: 40px;
  background: url(src/assets/img/primg.jpg) no-repeat;
  margin: 20px 20px 20px -60px;
  border-radius: 50%;
}
