<!DOCTYPE html>
<html>
<title>Main</title>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link href="https://fonts.googleapis.com/css2?family=Hind:wght@300;500;700&family=Roboto+Condensed:ital,wght@1,700&display=swap" rel="stylesheet">
</head>

<body style="height: 100vh" >

<div class="header">

  <a href="/main" class="logo">
    <div class="logo_txt">Sports Hub</div>
  </a>
  <div class="line"></div>


<!--  <div class="search-container">-->
<!--    <input type="text" placeholder="{{ 'HEADER.SEARCH' | translate}}" name="search">-->
<!--    <button type="submit"><i class="fa fa-search"></i></button>-->

<!--  </div>-->

  <!--  <div class="share-container">-->
  <!--    <div class="txt1">{{ 'HEADER.SHARE' | translate}}</div>-->
  <!--    <a href="https://facebook.com" class="fa fa-facebook"></a>-->
  <!--    <a href="https://twitter.com" class="fa fa-twitter"></a>-->
  <!--    <a href="https://google.com" class="fa fa-google"></a>-->
  <!--  </div>-->
  <app-social-share [path]="path"></app-social-share>
</div>


<div *ngIf="isAdmin">
  <div class="switch_view">
    <a href="/admin_page"><i class="fa fa-rotate-right" aria-hidden="true" style="font-size: 2vw;color: black;"></i></a>
  </div>
</div>



<!--<div class="profile-container">-->
<!--  <div class="profile_img"></div>-->
<!--  <mat-expansion-panel  class = "profile">-->
<!--    <mat-expansion-panel-header>-->
<!--      <mat-panel-title>-->
<!--        {{firstName}} {{lastName}}-->
<!--      </mat-panel-title>-->
<!--    </mat-expansion-panel-header>-->
<!--    <a href="/profile" class="txt1"> View profile</a><br>-->
<!--    <a href="" class="txt1"> Change password</a><br>-->
<!--    <a href="" class="txt1"> My surveys</a><br>-->
<!--    <a href="" class="txt1"> My teamhub</a><br><br>-->
<!--    <a href="/login" class="txt1" (click)="logOut()">Log out</a>-->
<!--  </mat-expansion-panel>-->
<!--</div>-->


<div *ngIf="authenticated">
  <app-header-user-profile></app-header-user-profile>
</div>

<div *ngIf="!authenticated">
  <a href="/register" class="txt">{{'REG.SIGNUP'|translate}}</a>
  <a href="/login" class="btn">
    <div class="btn_txt">{{'REG.LOGIN'|translate}}</div>
  </a>
</div>


<!--<mat-expansion-panel  class = "language">-->
<!--  <mat-expansion-panel-header>-->
<!--    <mat-panel-title>-->
<!--      EN-->
<!--    </mat-panel-title>-->
<!--  </mat-expansion-panel-header>-->
<!--  <a href="" class="txt1"> UA </a><br>-->
<!--</mat-expansion-panel>-->

<app-lang></app-lang>


<div class="main">
  <div *ngIf="!seeVideo">
    <div class="back_txt2">{{ 'BODY.BACKTXT' | translate}}</div>
    <div class="back_txt">{{ 'BODY.BACKTXT3' | translate}}</div>
  </div>
  <div class="sidebar">
    <div class="sidebar_text">
      <a class="txt1" href=""><b><main_kinds></main_kinds></b></a><br>
      <a class="txt1" href="/video">Video</a>

    </div>

    <app-social-follow></app-social-follow>

  </div>


<!--  <div class="block_right">-->
<!--    <div class="block_1">-->




  <div id="video_view_box" *ngIf="seeVideo">

    <div class="viewFirstLayer">
      <button (click)="seeVideo = false;videoBack();" class="editDeleteBackButtons" style="float: left;height: 1vw;width: 3vw;margin : 1vw">Back</button>
    </div>
    <div class="viewVideoLayer" style="display: flex;justify-content: center;">
      <video [src]="videoString" height="100%" controls></video>
    </div>
  </div>


  <div id="video_box" *ngIf="!seeVideo">

    <div id="firstLayer">

      <i (click)="glass = !glass" style="font-size: 1.1vw;color: #87909f;float: right;padding: 1vw;margin-top: 0;" class="fa fa-search active"></i>
      <div *ngIf="glass" style="float: right;margin-right: 3vw;margin-top: 0.35vw;width: 5vw">
        <input style="width: 7vw; " placeholder="Search..." class="TextFields" type="text"  [(ngModel)]="filterString"/>
      </div>
    </div>

    <div id="videosArea">

      <div class=videoItem (mouseover)="func2(i.id)" *ngFor="let i of ent|appFilter:filterString;let a = index" [attr.data-index]="a" >
        <div (click)="videoFunc(i.url);currentDesc = i.description;checkerCurrentDesc = i.description;currentId = i.id;" class="preview"><video [src]="i.url" height="100%"></video></div>
        <div class="textField">{{i.description}}</div>
      </div>

    </div>

  </div>


</div>

<!--    -->
<!--    <div class="block_2">-->

<!--      <news_card class="cards"></news_card>-->

<!--    </div>-->


<!--    <div class="boxArticle">-->
<!--      <hr class="articleLine">-->
<!--      <div class="mainArticleField"> BREAKDOWN</div>-->

<!--    </div>-->

<!--  </div>-->



<!--</div>-->





<app-site-footer></app-site-footer>



</body>
