input[type=text] {
  height: 83px;
  width: 400px;
  font-size: 18px;
  border: none;
  background: white;
}
.search-container {
  float: left;
  margin-left: 270px;
  border-right: 1px solid #EDEDED;
  text-align: center;

}
.search-container button {
  height: 83px;
  color: #000000;
  float: left;
  background: #ffffff;
  font-size: 18px;
  border: none;
  cursor: pointer;
}

.share-container {
  height: 83px;
  border-right: 1px solid #EDEDED;
  margin-right: 500px;
  margin-left: 720px;
  padding: 34px 45px 34px 34px;
}
.share-container a {
  margin-top: -24px;
  margin-left: 20px;
  color: #000000;
  float: right;
  background: #ffffff;
  font-size: 25px;
  border: none;
  cursor: pointer;
}

.back_txt {
  position: absolute;
  width: 343px;
  height: 192px;
  left: 1120px;
  top: 570px;
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 700;
  font-size: 141px;
  line-height: 192px;
  letter-spacing: 1.25893px;
  color: rgba(204, 211, 224, 0.301628);
  transform: rotate(90deg);
}

.back_txt2 {
  position: absolute;
  width: 254px;
  height: 192px;
  left: 95px;
  top: 140px;
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 700;
  font-size: 141px;
  line-height: 192px;
  letter-spacing: 1.25893px;
  color: rgba(204, 211, 224, 0.301628);
  transform: rotate(90deg);
  white-space: nowrap;
  z-index: 0;
}

.line {
  position: absolute;
  width: 100%;
  height: 1px;
  left: 0;
  top: 84px;

  background: #EDEDED;
  transform: matrix(1, 0, 0, -1, 0, 0);
}

.txt1{
  font-family: 'Open Sans', sans-serif;
  color: #919191;
  font-size: 16px;
  text-decoration: none;
}


.footer{
  position: absolute;
  float: bottom;
  width: 99%;
  height: 40px;
  text-align: right;
  background: #D72130;
  padding-top: 17px;
  padding-bottom: 17px;
  padding-right: 1%;
}
.footer p{
  color: white;
  font-size: 12px;
}

.main{
  display: flex;
}
.sidebar{
  padding-left: 52px;
  width: 200px;
  min-height: 100px;
}
.sidebar_text{
  width: 100px;
  min-height: 100px;
}

.sidebar_follow a{
  color: #000000;
  background: #ffffff;
  font-size: 25px;
  border: none;
  cursor: pointer;
  text-decoration: none;
  margin: 12px 12px 0 0;
}

.sidebar_text main_kinds{
  color: #b2b2b2;
  font-weight: bold;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
}


.sidebar_icon{
  margin-top: 50px;
  min-height: 50px;
  width: 100px;
}
.icon_block{
  display: flex;
}
.main{
  margin-top: 80px;
  width: 100%;
  min-height: 400px;
}
.side_bloke{
  width: 420px;
  min-height: 220px;
  background-color: #f5f5f5;
  padding-top: 30px;
  padding-left: 15px;
  padding-right: 15px;
  position: absolute;
  top: 230px; right: 120px;
  z-index: 2;
}
.side_bloke_button {
  background: #D72130;
  width: 158px;
  position: absolute;
  text-align: center;
  bottom: 0;
  left: 0;
  font-size: 17px;
  font-style: normal;
  padding: 15px;
  text-decoration: none;
  color: white;
}
.side_bloke_button:hover{
  background: #ad1a23;
  color: white;
  transition: all 1s ease
}

.side_bloke p{
  font-family: 'Open Sans', sans-serif;
  color: #b2b2b2;
  font-size: 14px;
}
.side_bloke_p1{
  font-family: 'Open Sans', sans-serif;
  color: #D72130;
  font-size: 15px;
}
.side_bloke_p2{
  font-family: 'Open Sans', sans-serif;
  color: black;
  font-size: 18px;
}

.photo{
  position: absolute;
  /*width: 50vw;*/
  /*height: 50vh;*/
  width: 900px;
  height: 460px;
  /*background: url(src/assets/img/article.png);*/
  /*background-size: 100%;*/
  /*background-repeat: no-repeat;*/
  /*z-index: 1;*/
}
::ng-deep .newstext{
  width: 900px;
  margin-top: 500px;
  font-size: 16px;
}

.more{
  padding: 10px;
  text-align: center;
  border: 2px solid #b2b2b2;
  border-radius: 25px;
  width: 130px;
  margin-left: 373px;
  font-size: 14px;
  background: white;
  margin-top: -22px;
}

.line_more{
  height: 1px;
  background: #b2b2b2;
  width: 900px;
}
.article{
  border: 1px #d9d9d9 solid;
  margin-bottom: -1px;
  height: 115px;
  width: 430px;
  display: block;
  overflow: auto;
;
}

.article:hover{
  cursor: pointer;
  box-shadow: 0 2px 24px rgba(0, 0, 0, 0.110932);
}

.img{
  width: 180px;
  height: 115px;
  margin-bottom: -5px;
  position: absolute;
}
.title{
  margin-top: 10px;
  margin-left: 190px;
  margin-right: 5px;
  font-size: 14px;
}
.descr{
  margin-left: 190px;
  margin-right: 5px;
  font-size: 12px;
  color: #969696;
}

.mcards{
  display: grid;
  grid-template-columns: repeat(2, 468px);
}

.toptxt{
  position: absolute;
  margin-top: -20px;
  z-index: 3;
  color: #D72130;
}
.toptxt a{
  margin-top: -20px;
  color: #D72130;
  text-decoration: none;
}
.toptxt a:hover{
  text-decoration: underline;
}

.share_btn{
  bottom: 0;
  left: 0;
  color: #939393;
  font-size: 18px;
  position: absolute;
  margin: 20px;
  text-decoration: none;
  font-family: 'Open Sans', sans-serif;
}

.txt {
  position: absolute;
  text-align: center;

  right: 350px;
  top: 30px;
  width: 150px;
  height: 30px;

  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 17px;
  text-decoration: none;
  color: #D72130;

}
  /* identical to box height, or 127% */

.views{
  margin-top: 460px;
  color: #D72130;

}

::-webkit-scrollbar {
  width: 0.2vw;
  border-radius: 50%;
}

::-webkit-scrollbar-track {
  background: white;
}

::-webkit-scrollbar-thumb {
  background: #c4c4c4;
  border-radius: 10px;
}
