
.photoBox{
  margin-top : 3vw;
  margin-block-end: 5vw;
}
.TextFields{
  padding-left: 1vw;
  border: 1px solid #d4d9e2;
  box-shadow: none;
  width: 54vw;
  font-size: 0.8vw;
  height: 2vw;
}

/*Under header*/
.under_header{
  width: 100%;
  min-height: 50px;
  background-color: #9fa6b2;
  display: flex;
  flex-direction: column;
  z-index: 2;
}
.under_one{
  margin-top: 17px;
  margin-left: 100px;
  width: 90%;
  display: flex;
  justify-content: space-between;

}

.under_home {
  font-family: "Open Sans";
  font-size: 30px;
  font-weight: bold;
}
.under_right {
  display: flex;
}
.right_cancel a{
  color: red;
}
.right_save{
  margin-left: 50px;
  padding: 8px 20px 8px 20px;
  background-color: red;
  width: 130px;
  min-height: 10px;
  display: flex;
  justify-content: center;
  position: relative;
  bottom: 8px;
}
.right_save a{
  color: white;
  font-family: "Open Sans";
}

.right_cancel a:link {
  text-decoration: none;
}

.right_save a:link {
  text-decoration: none;
}

.under_two{
  margin-left: 100px;
  width: 95%;
  display: flex;
}
.under_two a{
  margin-top: 17px;
  margin-bottom: 17px;
  font-size: 14px;
  margin-right: 60px;
  color: #9fa6b2;
}
.under_two a:link {
  text-decoration: none;
}

.wrapper{
  display: flex;
  background-color: #f2f2f2;
}
.sidebar{
  width: 100px;
  border-right: 1px solid #d8d8d8;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 800px;
}
i{
  margin-top: 40px;
}

hr{
  color: #d8d8d8;
}

.sidebar a:hover{

}

.profile-container {
  margin-top: -80px;
  float: right;
  text-align: center;
  height: 200px;
  position: absolute;
  margin-left:78vw;
  z-index: 1;
}

.profile{
  margin-top: 15px;
  margin-right: 220px;
}

.profile_img{
  position: absolute;
  width: 40px;
  height: 40px;
  background: url(src/assets/img/primg.jpg) no-repeat;
  margin: 20px 20px 20px -60px;
  border-radius: 50%;
}

.language{
  margin-top: -65px;
  margin-right: -350px;
  width: 80px;
  float: right;
  position: absolute;
  margin-left:90vw;
  z-index: 2;
}

@media screen and (min-width: 1280px) and (max-width: 1745px){
  .profile-container {
    margin-top: -80px;
    float: right;
    text-align: center;
    height: 200px;
    position: absolute;
    margin-left:73vw;
    z-index: 2;
  }
}

.right_header{
  position: relative;
  right: 1px;
  bottom: 1px;
  border-bottom: 1px solid #d2d2d2;
  border-left: 1px solid #d2d2d2;
}

.switch_view{
  position: absolute;
  right: 460px;
  top: -12px;
}

main_kinds{
  display: flex;
  justify-content: space-between;
}

::ng-deep .under_two p{
  margin-right: 60px;
}

.wrapper{
  display: flex;
  background-color: #f2f2f2;
}

.middleRight {
  position: absolute;
  width: 30vw;
  height: 30vw;
  background-color: #0c5460;
  margin-left: 40vw;
  margin-top: 5vw;
}

#middleForm{
  float: left;
  margin-left: 10vw;
  margin-top: 5vw;
  width: 30vw;
  height: 20vw;
}
#TopContainerInMiddle{
  height: 2vw;
}

.switch-field {
  width: 25vw;
  overflow : visible;
  display: flex;
  margin-bottom: 36px;
}

.switch-field input {
  position: absolute !important;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  width: 1px;
  border: 0;
  overflow: hidden;
}

.switch-field label {
  background-color: white;
  color: rgba(0, 0, 0, 0.6);
  font-size: 14px;
  line-height: 1;
  text-align: center;

  margin-right: -1px;
  /*border: 1px solid rgba(0, 0, 0, 0.2);*/
  /*box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.1);*/
  border: 1px solid #d4d9e2;
  box-shadow: none;
  height: 2vw;
  transition: all 0.1s ease-in-out;
}

.switch-field label:hover {
  cursor: pointer;
}

.switch-field input:checked + label {
  border: none;
  background-color: white;
  box-shadow: 1px 1px 5px 5px #dbdada;
  z-index: 2;
  color: #d72130;
}

.switch-field label:first-of-type {
  /*border-radius: 4px 0 0 4px;*/
}

.switch-field label:last-of-type {
  /*border-radius: 0 4px 4px 0;*/
}

/* This is just for CodePen. */


#radio-one_{
  width: 15vw;
}
#radio-two_{
  width: 15vw;
}

#radio-three_{
  width: 15vw;
}

#radio-eleventh_{
  width: 45vw;
}

#radio-twelfth_{
  width: 45vw;
}

.form {

  font-family: "Lucida Grande", Tahoma, Verdana, sans-serif;
  font-weight: normal;
  line-height: 1.625;
  margin: 8px auto;
  /*padding: 16px;*/
}


.showDiv {
  margin-top: 5vw;
  width: 25vw;
}

.showDiv2 {
  margin-top: 5vw;
  width: 25vw;
}

.showDiv3 {
  margin-top: 5vw;
  width: 25vw;
}


.showDiv10 {
  width: 25vw;
  background-color: green;
  padding-left: 10vw;
}

.showDiv11 {
  width: 25vw;
  background-color: green;
  padding-left: 10vw;
}

.hideDiv {
  display: none;
}
.TextFields{
  padding-left: 1vw;
  border: 1px solid #d4d9e2;
  box-shadow: none;
  width: 24vw;
  font-size: 0.8vw;
  height: 2vw;
}


.buttonField {
  width: 25vw;
  overflow : visible;
  display: flex;
  flex-direction: column;
  margin-bottom: 36px;
}

.buttonField input {
  position: absolute !important;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  width: 1px;
  border: 0;
  overflow: hidden;
}

.buttonField label {
  background-color: white;
  color: rgba(0, 0, 0, 0.6);
  font-size: 14px;
  line-height: 1;
  text-align: center;

  margin-right: -1px;
  /*border: 1px solid rgba(0, 0, 0, 0.2);*/
  /*box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.1);*/
  border: 1px solid #d4d9e2;
  box-shadow: none;
  height: 2vw;
  transition: all 0.1s ease-in-out;
  width: 100%;
}

.buttonField label:hover {
  cursor: pointer;
}

.buttonField input:checked + label {
  border: none;
  background-color: white;
  box-shadow: 1px 1px 5px 5px #dbdada;
  z-index: 2;
  color: #d72130;
}

