<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="x-ua-compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <title>Login</title>
</head>


<body>



<div class="mainBox">


<!--  <ul *ngFor="let item of createRange(arr.length)">-->
<!--    <li class="txt1" href="{{arr2[item]}}"> {{arr[item]}} </li>-->
<!--  </ul>-->


</div>




</body>
