<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <script src="https://accounts.google.com/gsi/client" async defer></script>
  <meta http-equiv="x-ua-compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <title>Login</title>
</head>


<body>

<div class="header">
  <a href="/main" class="logo">
    <div class="logo_txt">Sports Hub</div>
  </a>
  <div class="text">{{ 'LOGIN.QSTNLOG' | translate}}</div>
  <a href="/register" class="btn">
    <div class="btn_txt">{{ 'LOGIN.REG' | translate}}</div>
  </a>
</div>


<div class="container">
  <h1>{{ 'LOGIN.TITLE' | translate}}</h1>
  <a (click)="facebookInit()" class="fa fa-facebook" *ngIf="list[0].url == '1'"></a>
  <a (click)="submit()"  class="fa fa-google" *ngIf="list[1].url == '1'"></a>


  <div class="cont">
    <form [formGroup]="form" (change)="onFormChange()" (submit)="onSubmit()">
      <div class="email-input">
        <div class="cont_txt">{{ 'LOGIN.EMAIL' | translate}}</div>
        <mat-form-field class="full-width" appearance="outline">
          <mat-label>Enter your email</mat-label>
          <label>
            <input formControlName="email" matInput placeholder="pat@example.com" required>
          </label>
          <mat-error *ngIf="form.hasError('required','email')">Not valid</mat-error>
        </mat-form-field>
      </div>




      <a class="aLink" href="/forgot_password">{{'LOGIN.FGTPASS' | translate}}</a>
      <div class="cont_txt">{{ 'LOGIN.PASS' | translate}}</div>
      <mat-form-field class="full-width" appearance="outline">
        <mat-label>{{ 'LOGIN.ENTPASS' | translate}}</mat-label>
        <label>
          <input formControlName="password" matInput [type]="hide ? 'password' : 'text'" required placeholder="some pass" >
        </label>
        <button  mat-icon-button type="button" matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
          <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
<!--        <mat-error *ngIf="form.hasError('required','password')">Must be 8 digits at least</mat-error>-->
      </mat-form-field>

      <button mat-raised-button type="submit" class="save-button" [disabled]="form.invalid || form.disabled" >{{ 'LOGIN.LOGIN' | translate}}</button>

    </form>
  </div>

<!--  <a href="/admin_page">admin link</a>-->
<!--  <a href="/admin_team-page">admin_team link</a>-->



  <h1></h1>
</div>


<div class="photo_1"></div>
</body>


