<div class="dropzone"
     appDropzone
     [class.hovering]="isHovering"
     (hovered)="toggleHover($event)"
     (dropped)="onDrop($event)">






  <h3>AngularFire Drop Zone</h3>
  <p>Drag and Drop a File</p>
  <div class="file">
    <label class="file-label">


      <input class="file-input" type="file" (change)="onDrop($any($event).target.files)" accept="image/*">





      <span class="file-cta">
            <span class="file-icon">
              <i class="fa fa-upload"></i>
            </span>
            <span class="file-label">
              or choose a file…
            </span>
          </span>
    </label>
  </div>
</div>

<h3>Uploads</h3>

<div *ngFor="let file of files">
  <upload-task [file]="file"></upload-task>
</div>



<!--<form [formGroup]="formGroup" (ngSubmit)="addFile()">-->
<!--  <input type="file" (change)="uploadFile($event)" accept="image/*">-->

<!--  <div>-->
<!--    <image-cropper-->
<!--      style="width: 512px; height: 512px"-->
<!--      [imageChangedEvent]="imageChangedEvent"-->
<!--      format="png"-->
<!--      [maintainAspectRatio]="false"-->
<!--      (imageCropped)="imageCropped($event)"-->
<!--    ></image-cropper>-->

<!--    <img [src]="croppedImage">-->
<!--  </div>-->

<!--  <button type="submit">Save</button>-->

<!--</form>-->



