<!DOCTYPE html>
<html>

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css">
</head>

<body>


<div class="header">

  <a href="/main" class="logo">
    <div class="logo_txt">Sports Hub</div>
  </a>
  <div class="line"></div>

</div>

<div class="switch_view">
  <a href="/main"><i class="fa fa-rotate-right" aria-hidden="true" style="font-size: 2vw;color: black;"></i></a>
</div>

<div class="right_header">
  <app-header-user-profile></app-header-user-profile>
  <app-lang></app-lang>
  <!--  <mat-expansion-panel  class = "language">-->
  <!--    <mat-expansion-panel-header>-->
  <!--      <mat-panel-title>-->
  <!--        EN-->
  <!--      </mat-panel-title>-->
  <!--    </mat-expansion-panel-header>-->
  <!--    <a href="" class="txt1"> UA </a><br>-->
  <!--  </mat-expansion-panel>-->
</div>


<div class="under_head">
  <div class="under_one">
    <div class="under_home">Home</div>
    <div class="under_right">
      <div class="right_cancel"><a href="/login">Cancel</a></div>
      <div class="right_save"><a href="/login">Save all changes</a></div>
    </div>
  </div>
  <hr>
  <div class="under_two">
    <a href="/main">Home</a>
    <a class="txt1" href="">
      <main_kinds></main_kinds>
    </a>
    <a style="color: #d72130 " href="/main">Video</a>
    <a href="/lifestle">Lifestyle</a>
    <a href="/dealbook">Dealbook</a>
  </div>
</div>

<div class="wrapper">

  <div class="sidebar">
    <a title="Surveys" href="/surveys"><i class="fa fa-comment-o" aria-hidden="true"
                                          style="font-size: 2vw;color: #b2b2b2;"></i></a>
    <a title="Categories" href="/admin_categories"><i class="fa fa-list-alt" aria-hidden="true"
                                                      style="font-size: 2vw;color: #b2b2b2;"></i></a>
    <a href="/admin_page/set-lang"><i class="fa fa-globe" aria-hidden="true" style="font-size: 2vw;color: #b2b2b2;"></i></a>
    <a title="Footer" href="/footer"><i class="fa fa-edit" aria-hidden="true"
                                        style="font-size: 2vw;color: #b2b2b2;"></i></a>
    <a title="Social Networks" href="/social-networks"><i class="fa fa-mail-forward" aria-hidden="true"
                                                          style="font-size: 2vw;color: #b2b2b2;"></i></a>
    <a title="Users" href="/users"><i class="fa fa-users" aria-hidden="true" style="font-size: 2vw;color: #b2b2b2;"></i></a>
    <a title="IA" href="/info"><i class="fa fa-info" aria-hidden="true" style="font-size: 2vw;color: #b2b2b2;"></i></a>
    <a title="Teams" href="/admin_team-page"><i class="fa fa-flag" aria-hidden="true"
                                                style="font-size: 2vw;color: #b2b2b2;"></i></a>
    <a title="News Partners" href="/news-partners"><i class="fa fa-briefcase" aria-hidden="true"
                                                      style="font-size: 2vw;color: #b2b2b2;"></i></a>
    <a title="Advertising" href="/advertising"><i class="fa fa-dollar" aria-hidden="true"
                                                  style="font-size: 2vw;color: #b2b2b2;"></i></a>
    <a title="Share buttons menu" href="admin_page/social-login"><i class="fa fa-share-alt" aria-hidden="true"
                                                                    style="font-size: 2vw;color: #b2b2b2;"></i></a>

  </div>



</div>
