<!DOCTYPE html>
<html>

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css">
</head>

<body>


<div class="header">

  <a href="/main" class="logo">
    <div class="logo_txt">Sports Hub</div>
  </a>
  <div class="line"></div>

</div>

<div class="switch_view">
  <a href="/main"><i class="fa fa-rotate-right" aria-hidden="true" style="font-size: 2vw;color: black;"></i></a>
</div>

<div class="right_header">
  <app-header-user-profile></app-header-user-profile>
  <app-lang></app-lang>
  <!--  <mat-expansion-panel  class = "language">-->
  <!--    <mat-expansion-panel-header>-->
  <!--      <mat-panel-title>-->
  <!--        EN-->
  <!--      </mat-panel-title>-->
  <!--    </mat-expansion-panel-header>-->
  <!--    <a href="" class="txt1"> UA </a><br>-->
  <!--  </mat-expansion-panel>-->
</div>


<div class="under_head">
  <div class="under_one">
    <div class="under_home">Home</div>
    <div class="under_right">
      <div class="right_save"><a href="/admin_video/create">+ Add new video</a></div>
    </div>
  </div>
  <hr>
  <div class="under_two">
    <a href="/main">Home</a>
    <a class="txt1" href="">
      <main_kinds></main_kinds>
    </a>
    <a style="color: #d72130 " href="/main">Video</a>
    <a href="/lifestle">Lifestyle</a>
    <a href="/dealbook">Dealbook</a>
  </div>
</div>

<div class="wrapper" >

  <div class="sidebar">
    <a title="Surveys" href="/surveys"><i class="fa fa-comment-o" aria-hidden="true"
                                          style="font-size: 2vw;color: #b2b2b2;"></i></a>
    <a title="Categories" href="/admin_categories"><i class="fa fa-list-alt" aria-hidden="true"
                                                      style="font-size: 2vw;color: #b2b2b2;"></i></a>
    <a href="/admin_page/set-lang"><i class="fa fa-globe" aria-hidden="true" style="font-size: 2vw;color: #b2b2b2;"></i></a>
    <a title="Footer" href="/footer"><i class="fa fa-edit" aria-hidden="true"
                                        style="font-size: 2vw;color: #b2b2b2;"></i></a>
    <a title="Social Networks" href="/social-networks"><i class="fa fa-mail-forward" aria-hidden="true"
                                                          style="font-size: 2vw;color: #b2b2b2;"></i></a>
    <a title="Users" href="/users"><i class="fa fa-users" aria-hidden="true" style="font-size: 2vw;color: #b2b2b2;"></i></a>
    <a title="IA" href="/info"><i class="fa fa-info" aria-hidden="true" style="font-size: 2vw;color: #b2b2b2;"></i></a>
    <a title="Teams" href="/admin_team-page"><i class="fa fa-flag" aria-hidden="true"
                                                style="font-size: 2vw;color: #b2b2b2;"></i></a>
    <a title="News Partners" href="/news-partners"><i class="fa fa-briefcase" aria-hidden="true"
                                                      style="font-size: 2vw;color: #b2b2b2;"></i></a>
    <a title="Advertising" href="/advertising"><i class="fa fa-dollar" aria-hidden="true"
                                                  style="font-size: 2vw;color: #b2b2b2;"></i></a>
    <a title="Share buttons menu" href="admin_page/social-login"><i class="fa fa-share-alt" aria-hidden="true"
                                                                    style="font-size: 2vw;color: #b2b2b2;"></i></a>

  </div>


  <div id="video_view_box" *ngIf="seeVideo">

    <div class="viewFirstLayer">
      <button (click)="seeVideo = false;videoBack();" class="editDeleteBackButtons" style="float: left;height: 1vw;width: 3vw;margin : 1vw">Back</button>
      <i style="color: #d72130;float: right;margin-top: 1.1vw" class="fa fa-eye" aria-hidden="true">Preview</i>
    </div>
    <div class="viewVideoLayer" style="display: flex;justify-content: center;">
      <video [src]="videoString" height="100%" controls></video>
  </div>
    <div style="margin-top: 1vw" class="thirdLayer">
      <div class="videoTitleLayer">
        <p style="font-size: 0.7vw;color: #8f97a6">VIDEO TITLE*</p>
        <div>
          <input style="width: 54vw;float: left" class="TextFields" type="text" [(ngModel)]="currentDesc"/>
          <button [disabled] = "currentDesc == checkerCurrentDesc" mat-raised-button type="submit" class="save-button" (click)="updateDescription()" style="padding: 0;line-height: 0;height: 2vw;font-size: 0.8vw;width: 4vw;float: right;margin-top: 0.1vw">Submit</button>
        </div>
      </div>
    </div>
  </div>

  <!--16 9 -->

  <div id="video_box" *ngIf="!seeVideo">

    <div id="firstLayer">

      <i (click)="glass = !glass" style="font-size: 1.1vw;color: #87909f;float: right;padding: 1vw;margin-top: 0;" class="fa fa-search active"></i>
      <div *ngIf="glass" style="float: right;margin-right: 3vw;margin-top: 0.35vw;width: 5vw">
        <input style="width: 7vw; " placeholder="Search..." class="TextFields" type="text"  [(ngModel)]="filterString"/>
      </div>
    </div>

    <div id="secondLayer">
      <div id="box" style="width: 14vw;height: 3vw;float: left">
      <form>
        <mat-form-field class="RowForm" appearance="outline" >
          <mat-select [(ngModel)]="selectedValue3" name="value2">
            <mat-option  class="check" *ngFor="let value3 of vals" [value]="value3.value" (click)="func()">
              {{value3.viewValue}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </form>
      </div>


<!--      <form>-->
<!--        <mat-form-field class="RowForm" appearance="outline">-->

<!--          &lt;!&ndash;          <mat-label>subcategory</mat-label>&ndash;&gt;-->
<!--          <mat-select [(ngModel)]="1" name="value2">-->
<!--            <mat-option class="check" *ngFor="let value3 of values" [value]="value3.value">-->
<!--              {{value3.viewValue}}-->
<!--            </mat-option>-->
<!--          </mat-select>-->
<!--        </mat-form-field>-->
<!--      </form>-->


    </div>






    <div id="videosArea">

      <div class=videoItem (mouseover)="func2(i.id)" *ngFor="let i of ent|appFilter:filterString;let a = index" [attr.data-index]="a" >


<!--        <i class="dropdown" style="float: right;height: 6vw"><div class="leFaIcon"></div><div class="leFaIcon"></div><div class="leFaIcon"></div>-->

<!--          <div class="dropdown-content" style="right:0;">-->
<!--            <p>Hello World!</p>-->
<!--            <p>Hello World!</p>-->
<!--          </div>-->
<!--        </i>-->
        <button style="margin-top: 1vw;float: right;margin-right: 1vw" *ngIf="checker == i.id" (click)="func2(i.id)" mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
          <mat-icon style="color:#c63638">more_horiz</mat-icon>
        </button>
        <mat-menu class="matMenu" #menu="matMenu">
          <button class="matMenu" mat-menu-item (click)="setVisibility(i.id,!i.visible) ;i.visible = !i.visible">
            <span *ngIf="i.visible">Unpublish</span><span *ngIf="!i.visible">Publish</span>
          </button>
          <button class="matMenu" mat-menu-item (click)="deleteById(i.id);ent.splice(ent.indexOf(i),1)">
            <span>Delete</span>
          </button>
        </mat-menu>

        <div (click)="videoFunc(i.url);currentDesc = i.description;checkerCurrentDesc = i.description;currentId = i.id;" class="preview"><video [src]="i.url" height="100%"></video></div>
        <div class="textField">{{i.description}}</div>
        <div class="un_published">
          <div *ngIf="i.visible" class="dot"></div>
          <div *ngIf="!i.visible" class="dot2"></div>
          {{isPublished(i.visible)}}
      </div>


    </div>

  </div>

</div>

</div>
