<!DOCTYPE html>
<html>
<title>Main</title>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link href="https://fonts.googleapis.com/css2?family=Hind:wght@300;500;700&family=Roboto+Condensed:ital,wght@1,700&display=swap" rel="stylesheet">
</head>

<body>

<div class="header">

  <a href="" class="logo">
    <div class="logo_txt">Sports Hub</div>
  </a>
<div class="line"></div>


  <div class="search-container">
      <input type="text" placeholder="Search.." name="search">
      <button type="submit"><i class="fa fa-search"></i></button>

  </div>

  <div class="share-container">
    <div class="txt1">Share</div>
    <a href="https://facebook.com" class="fa fa-facebook"></a>
    <a href="https://twitter.com" class="fa fa-twitter"></a>
      <a href="https://google.com" class="fa fa-google"></a>
  </div>

</div>



<div class="profile-container">
  <div class="profile_img"></div>
<mat-expansion-panel  class = "profile">
    <mat-expansion-panel-header>
      <mat-panel-title>
        Bohdan Bohdan
      </mat-panel-title>
    </mat-expansion-panel-header>
    <a href="" class="txt1"> View profile</a><br>
  <a href="" class="txt1"> Change password</a><br>
  <a href="" class="txt1"> My surveys</a><br>
  <a href="" class="txt1"> My teamhub</a><br><br>
  <a href="/register" class="txt1">Log out</a>
  </mat-expansion-panel>
</div>

  <mat-expansion-panel  class = "language">
    <mat-expansion-panel-header>
      <mat-panel-title>
        EN
      </mat-panel-title>
    </mat-expansion-panel-header>
    <a href="" class="txt1"> UA </a><br>
  </mat-expansion-panel>

<div class="main">
  <div class="back_txt2">ALL</div>
  <div class="back_txt">NEWS</div>
  <div class="sidebar">
    <div class="sidebar_text">
      <a class="txt1" href=""><b><main_kinds></main_kinds></b></a><br>
    </div>

    <div class="sidebar_icon">
      <span class="txt1">Follow</span>
      <div class="sidebar_follow">
          <a href="https://twitter.com" class="fa fa-twitter"></a>
          <a href="https://google.com" class="fa fa-google"></a><br>
          <a href="https://youtube.com" class="fa fa-youtube"></a>
          <a href="https://facebook.com" class="fa fa-facebook"></a>
      </div>
    </div>

  </div>



  <div class="block_right">
    <div class="block_1">
        <div class="photo">
          <div class="photo_button"><b>Kind of sport</b></div>
        </div>
        <div class="side_bloke">
          <p>Published / 20.09.2019</p>
          <span class="side_bloke_p1"><b>London Games return in 2019</b></span>
          <br>
          <span class="side_bloke_p2"><b>Register to receive the latest <br> news on ticket sales for the fou <br> NFL London games in 2019!</b></span>
          <a href="" class="side_bloke_button"><b class="">More</b></a>
        </div>
    </div>
    <div class="block_2">

          <news_card class="cards"></news_card>

    </div>
  </div>
</div>

<div class="footer">
  <p>Copyright ©2022 Sports Hub<br>Privacy / Terms</p>
</div>


</body>

