/*input[type=text] {*/
/*  height: 83px;*/
/*  width: 500px;*/
/*  font-size: 22px;*/
/*  border: none;*/
/*  background: white;*/
/*}*/
/*.search-container {*/
/*  float: left;*/
/*  margin-left: 280px;*/
/*  border-right: 1px solid #EDEDED;*/
/*}*/
/*.search-container button {*/
/*  height: 83px;*/
/*  color: black;*/
/*  float: right;*/
/*  background: white;*/
/*  font-size: 22px;*/
/*  border: none;*/
/*  cursor: pointer;*/
/*}*/

/*.search-container button:hover {*/
/*  background: white;*/
/*}*/

.searchbar{
  margin-left:252px;
  height: 83px;
}

.container{
  position: absolute;
  width: 500px;
  margin: 0 auto;
  max-height: 450px;
  right: 400px;
  top: 50px;
  box-sizing: border-box;
}



.btn{
  position: absolute;
  right: 60px;
  top: 23px;
  width: 150px;
  height: 30px;
  border: 1px solid #D72130;
  box-sizing: border-box;
  color: #D72130;
  text-align: center;
  text-decoration: none;
}

.btn_txt{
  position: absolute;
  text-align: center;
  left: 26.88%;
  right: 26.09%;
  top: 25.33%;
  bottom: 34.94%;
  /*z-index: 100;*/

  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 17px;
  /* identical to box height, or 127% */


  color: #D72130;

}

.main{
  display: flex;
}
.sidebar{
  padding-left: 52px;
  width: 200px;
  min-height: 100px;
}
.sidebar_text{
  width: 100px;
  min-height: 100px;
}

.sidebar_text main_kinds{
  color: #b2b2b2;
  font-weight: bold;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
}

.span_follow{
  font-family: 'Open Sans', sans-serif;
  color: #b2b2b2;
}

.sidebar_icon{
  margin-top: 50px;
  min-height: 50px;
  width: 100px;
}
.icon_block{
  display: flex;
}
.main{
  margin-top: 80px;
  width: 100%;
  min-height: 400px;
}
.side_bloke{
  width: 420px;
  min-height: 290px;
  background-color: lightgray;
  padding-top: 30px;
  padding-left: 15px;
  position: absolute;
  top: 230px; right: 150px;
}
.side_bloke p{
  font-family: 'Open Sans', sans-serif;
  color: #b2b2b2;
  font-size: 14px;
}
.side_bloke_p1{
  font-family: 'Open Sans', sans-serif;
  color: #D72130;
  font-size: 15px;
}
.side_bloke_p2{
  font-family: 'Open Sans', sans-serif;
  color: black;
  font-size: 18px;
}

.photo{
  width: 900px;
  height: 460px;
  background: url(src/assets/img/main-photo-article.png);
  background-size: 100%;
  background-repeat: no-repeat;
}
.block_2{
  width: 100%;
  margin-top: 30px;
}
.cards{
  display: flex;
  justify-content: space-between;
  width: 900px;
}
.card{
  width: 200px;
  height: 300px;
  padding: 10px;
}
.card p{
  font-size: 14px;
  color: #b2b2b2;
}
