<!DOCTYPE html>
<html>
<title>Main</title>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link href="https://fonts.googleapis.com/css2?family=Hind:wght@300;500;700&family=Roboto+Condensed:ital,wght@1,700&display=swap" rel="stylesheet">
</head>

<body style="height: 100vh" >

<div class="header">

  <a href="/main" class="logo">
    <div class="logo_txt">Sports Hub</div>
  </a>
  <div class="line"></div>


  <div class="search-container">
    <input type="text" placeholder="{{ 'HEADER.SEARCH' | translate}}" name="search">
    <button type="submit"><i class="fa fa-search"></i></button>

  </div>

<!--  <div class="share-container">-->
<!--    <div class="txt1">{{ 'HEADER.SHARE' | translate}}</div>-->
<!--    <a href="https://facebook.com" class="fa fa-facebook"></a>-->
<!--    <a href="https://twitter.com" class="fa fa-twitter"></a>-->
<!--    <a href="https://google.com" class="fa fa-google"></a>-->
<!--  </div>-->
  <app-social-share></app-social-share>
</div>


<div *ngIf="isAdmin">
  <div class="switch_view">
    <a href="/admin_page"><i class="fa fa-rotate-right" aria-hidden="true" style="font-size: 2vw;color: black;"></i></a>
  </div>
</div>



<!--<div class="profile-container">-->
<!--  <div class="profile_img"></div>-->
<!--  <mat-expansion-panel  class = "profile">-->
<!--    <mat-expansion-panel-header>-->
<!--      <mat-panel-title>-->
<!--        {{firstName}} {{lastName}}-->
<!--      </mat-panel-title>-->
<!--    </mat-expansion-panel-header>-->
<!--    <a href="/profile" class="txt1"> View profile</a><br>-->
<!--    <a href="" class="txt1"> Change password</a><br>-->
<!--    <a href="" class="txt1"> My surveys</a><br>-->
<!--    <a href="" class="txt1"> My teamhub</a><br><br>-->
<!--    <a href="/login" class="txt1" (click)="logOut()">Log out</a>-->
<!--  </mat-expansion-panel>-->
<!--</div>-->


<div *ngIf="authenticated">
  <app-header-user-profile></app-header-user-profile>
</div>

<div *ngIf="!authenticated">
  <a href="/register" class="txt">{{'REG.SIGNUP'|translate}}</a>
  <a href="/login" class="btn">
    <div class="btn_txt">{{'REG.LOGIN'|translate}}</div>
  </a>
</div>


<!--<mat-expansion-panel  class = "language">-->
<!--  <mat-expansion-panel-header>-->
<!--    <mat-panel-title>-->
<!--      EN-->
<!--    </mat-panel-title>-->
<!--  </mat-expansion-panel-header>-->
<!--  <a href="" class="txt1"> UA </a><br>-->
<!--</mat-expansion-panel>-->

<app-lang></app-lang>


<div class="main">
  <div class="back_txt2">{{ 'BODY.BACKTXT' | translate}}</div>
  <div class="back_txt">{{ 'BODY.BACKTXT2' | translate}}</div>
  <div class="sidebar">
    <div class="sidebar_text">
      <a class="txt1" href="">
        <b><main_kinds></main_kinds></b></a><br><br>
      <a class="txt1" href="/video">VIDEO</a><br><br>
      <a class="txt1" href="/lifestyle">LIFESTYLE</a><br><br>
      <a class="txt1" href="/dealbook">DEALBOOK</a>
      <a></a>

    </div>

    <app-social-follow></app-social-follow>

  </div>


  <div class="block_right" *ngIf="li">
    <div class="block_1" *ngIf="league">
      <img class="photo" src="{{li[0]['image']}}">
        <div class="photo_button"><b>{{league['name']}}</b></div>
      <div class="side_bloke">
        <p>{{ 'BODY.DATE' | translate}} / {{getDate()}}</p>
        <span class="side_bloke_p1"><b>{{li[0]['title']}}</b></span>
        <br>
        <span class="side_bloke_p2"><b>{{li[0]['description']}}</b></span>
        <a href="/article/{{li[0]['id']}}" class="side_bloke_button"><b class="">{{ 'BODY.MORE' | translate}}</b></a>
      </div>
    </div>
    <div class="block_2">

      <news_card class="cards"></news_card>

    </div>


    <div class="boxArticle">
      <div class="mainArticleHrBox">
        <hr class="mainArticleHr">
      </div>
      <div class="mainArticleHrBox2">
        <hr class="mainArticleHr2">
      </div>

      <div class="mainArticleField">BREAKDOWN</div>


    </div>


    <div class="block3">
      <div class="block3Up">
        <div class="block3UpLeft">
          <a href="" style="text-decoration: none">
            <div  class="block3LeftArc">
              <!--              <div class="photo_button"><b>Kind of sport</b></div>-->
              <img class="block3LeftPhoto" src="https://firebasestorage.googleapis.com/v0/b/sportshub-623db.appspot.com/o/image%2Fbasketball.jpg?alt=media&token=f880ae0d-1219-4476-97f2-0e1f076dc971" alt="photo news">
              <h4>Lorem ispum dolor sit amet, consectetur</h4>
            </div>
          </a>
        </div>
        <div class="block3UpRight">
          <div class="block3UpRightRight">
            <a href="" style="text-decoration: none">
              <div  class="block3RightArc">
                <img class="block3RightPhoto" src="https://firebasestorage.googleapis.com/v0/b/sportshub-623db.appspot.com/o/image%2Ffootball.jpg?alt=media&token=5da23e00-a830-42f7-93a1-ec1649ba72d2" alt="photo news">
                <div>
                  <h4>Lorem ipsum</h4>
                  <p class="txt1">Lorem ispum dolor sit amet, consectetur</p>
                </div>
              </div>
            </a>
            <a href="" style="text-decoration: none">
              <div  class="block3RightArc">
                <img class="block3RightPhoto" src="https://firebasestorage.googleapis.com/v0/b/sportshub-623db.appspot.com/o/image%2Fhockey.jpg?alt=media&token=99160c6d-f798-43e1-be34-50e0019c6bbc" alt="photo news">
                <div>
                  <h4>Lorem ipsum</h4>
                  <p class="txt1">Lorem ispum dolor sit amet, consectetur</p>
                </div>
              </div>
            </a>
            <a href="" style="text-decoration: none">
              <div  class="block3RightArc">
                <img class="block3RightPhoto" src="https://firebasestorage.googleapis.com/v0/b/sportshub-623db.appspot.com/o/image%2Fvolleyball.jpg?alt=media&token=7585e50e-b2b2-41e6-82a2-b1136db18237" alt="photo news">
                <div>
                  <h4>Lorem ipsum</h4>
                  <p class="txt1">Lorem ispum dolor sit amet, consectetur</p>
                </div>
              </div>
            </a>
          </div>
        </div>
      </div>
      <div class="block3Down">
        <div class="block3UpLeft">
          <a href="" style="text-decoration: none">
            <div  class="block3LeftArc">
              <!--              <div class="photo_button"><b>Kind of sport</b></div>-->
              <img class="block3LeftPhoto" src="https://firebasestorage.googleapis.com/v0/b/sportshub-623db.appspot.com/o/image%2Fbasketball.jpg?alt=media&token=f880ae0d-1219-4476-97f2-0e1f076dc971" alt="photo news">
              <h4>Lorem ispum dolor sit amet, consectetur</h4>
            </div>
          </a>
        </div>
        <div class="block3UpRight">
          <div class="block3UpRightRight">
            <a href="" style="text-decoration: none">
              <div  class="block3RightArc">
                <img class="block3RightPhoto" src="https://firebasestorage.googleapis.com/v0/b/sportshub-623db.appspot.com/o/image%2Ffootball.jpg?alt=media&token=5da23e00-a830-42f7-93a1-ec1649ba72d2" alt="photo news">
                <div>
                  <h4>Lorem ipsum</h4>
                  <p class="txt1">Lorem ispum dolor sit amet, consectetur</p>
                </div>
              </div>
            </a>
            <a href="" style="text-decoration: none">
              <div  class="block3RightArc">
                <img class="block3RightPhoto" src="https://firebasestorage.googleapis.com/v0/b/sportshub-623db.appspot.com/o/image%2Fhockey.jpg?alt=media&token=99160c6d-f798-43e1-be34-50e0019c6bbc" alt="photo news">
                <div>
                  <h4>Lorem ipsum</h4>
                  <p class="txt1">Lorem ispum dolor sit amet, consectetur</p>
                </div>
              </div>
            </a>
            <a href="" style="text-decoration: none">
              <div  class="block3RightArc">
                <img class="block3RightPhoto" src="https://firebasestorage.googleapis.com/v0/b/sportshub-623db.appspot.com/o/image%2Fvolleyball.jpg?alt=media&token=7585e50e-b2b2-41e6-82a2-b1136db18237" alt="photo news">
                <div>
                  <h4>Lorem ipsum</h4>
                  <p class="txt1">Lorem ispum dolor sit amet, consectetur</p>
                </div>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>


    <div class="boxArticle">
      <div class="mainArticleHrBox">
        <hr class="mainArticleHr" style="height: 1px;">
      </div>
      <div class="mainArticleHrBox2">
        <hr class="mainArticleHr2" style="height: 1px;">
      </div>

      <div class="mainArticleField">PHOTO OF THE DAY</div>


    </div>

    <div class="block4">
      <div class="block4Photo">
        <img class="block4Img" src="https://firebasestorage.googleapis.com/v0/b/sportshub-623db.appspot.com/o/image%2Fbasketball.jpg?alt=media&token=f880ae0d-1219-4476-97f2-0e1f076dc971" alt="photo news">
        <div class="block4Gradient">
          <!--          <h4>Defending The Throne</h4>-->
          <!--          <p>Los Angeles Lakes guard Derek Fisher, right, is pressured by the Denver Nuggets Nene during th efirst quarter of NBA exhibition action on Oct 16Photo Courtesy MCT</p>-->
        </div>
      </div>

    </div>



  </div>



</div>





<div class="most_pop_comm">
  <div *ngIf="dateLimits">
    <app-most-popular *ngIf="dateLimits[0]['datelim']!=0"></app-most-popular>
    <app-most-commented *ngIf="dateLimits[1]['datelim']!=0"></app-most-commented>
  </div>
</div>

<app-site-footer></app-site-footer>

</body>
