<!DOCTYPE html>
<html>
<title>Main</title>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>

<div class="header">

  <a href="" class="logo">
    <div class="logo_txt">Sports Hub</div>
  </a>



  <!--  <div class="search-container">-->
  <!--    <form action="/action_page.php">-->
  <!--      <input type="text" placeholder="Search.." name="search">-->
  <!--      <button type="submit"><i class="fa fa-search"></i></button>-->
  <!--    </form>-->
  <!--  </div>-->


  <!--  Працює-->

  <!--  <div class="searchbar">-->
  <!--    <form class="example-form">-->
  <!--      <mat-form-field class="example-full-width">-->
  <!--        <span matPrefix> </span>-->
  <!--        <input type="tel" matInput placeholder="Search" name= "search" [(ngModel)]= "search">-->
  <!--        <button matSuffix mat-button><mat-icon >search</mat-icon></button>-->
  <!--      </mat-form-field>-->
  <!--      <br/>-->
  <!--      {{search}}-->
  <!--    </form>-->
  <!--  </div>-->

</div>

<div class="main">
  <div class="sidebar">
      <div class="sidebar_text">
      <main_kinds></main_kinds>

      </div>

    <div class="sidebar_icon">
      <span class="span_follow">Follow</span>
      <div class="icon_block">
        <div>
          <div>F</div>
          <div>G</div>
        </div>
        <div>
          <div>T</div>
          <div>Y</div>
        </div>
      </div>
    </div>

  </div>



  <div class="block_right">
    <div class="block_1">
      <div class="block_1_photo">
        <div class="photo">

        </div>
        <div class="side_bloke">
          <p>Published / 20.09.2019</p>
          <span class="side_bloke_p1">London Games return in 2019</span>
          <br>
          <span class="side_bloke_p2">Register to receive the latest <br> news on ticket sales for the fou <br> NFL London games in 2019!</span>
        </div>
      </div>
    </div>
    <div class="block_2">
      <div class="cards">
        <div class="card">
          <img src="" alt="phono news">
          <h4>Raider release</h4>
          <p>after a five-year stint with the Oaktland Raiders</p>
        </div>
        <div class="card">
          <img src="" alt="phono news">
          <h4>London Games</h4>
          <p>NFL London Games return in 2019</p>
        </div>
        <div class="card">
          <img src="" alt="phono news">
          <h4>2019</h4>
          <p>2019 NFL free agency</p>
        </div>
        <div class="card">
          <img src="" alt="phono news">
          <h4>lorem ipsum</h4>
          <p>Lorem ipsum dolor sit amet, consectetur.</p>
        </div>
      </div>
    </div>




  </div>
</div>

<div class="container">
  <a href="/register" class="btn">
    <div class="btn_txt">Register</div>
  </a>
</div>

</body>
