<div class="container">
  <div class="section">
    <button class="button button_category" (click)="openModal()">+ Add category</button>
    <div *ngFor="let category of sportKinds " >
      <button mat-button [matMenuTriggerFor]="menu"  class="button button_name_category {{category === activeSportKind ? 'active-category' : null}}"
              (click)="clickCategory(category)">{{category.name}}<mat-icon class="mat-icon-points">more_vert</mat-icon></button>
      <mat-menu #menu="matMenu"  xPosition="after">
        <button mat-menu-item>Hide</button>
        <button mat-menu-item (click)="deleteCategory(category)">Delete</button>
        <button mat-menu-item (click)="openModalEditCat(category)">Edit</button>
      </mat-menu>
    </div>
  </div>
  <div class="section">
    <div *ngIf="activeSportKind">
      <button class="button button_subcategory" (click)="openModalSub()">+ Add subcategory</button>
      <div *ngFor="let subCategory of activeSportKind.leagues">
        <button mat-button [matMenuTriggerFor]="menu"
                class="button button_name_subcategory {{subCategory === activeLeague ? 'active-subcategory' : null}}"
                (click)="clickSubCategory(subCategory)">{{subCategory.name}}<mat-icon class="mat-icon-points">more_vert</mat-icon></button>
        <mat-menu #menu="matMenu" xPosition="after">
          <button mat-menu-item [matMenuTriggerFor]="moveTo">Move to</button>
          <button mat-menu-item>Hide</button>
          <button mat-menu-item (click)="deleteSubCategory(subCategory)">Delete</button>
          <button mat-menu-item (click)="openModalEditSubCat(subCategory)">Edit</button>
        </mat-menu>
        <mat-menu #moveTo="matMenu">
          <div *ngFor="let category of sportKinds">
            <button mat-menu-item>{{category.name}}</button>
          </div>
        </mat-menu>
      </div>
    </div>
  </div>
  <div class="section">
    <div *ngIf="activeLeague">
      <button class="button button_team" (click)="openModalTeam()">+ Add team</button>
      <div *ngFor="let team of activeLeague.teams">
        <button mat-button [matMenuTriggerFor]="menu"
                class="button button_name_team {{team === activeTeam ? 'active-team' : null}}"
                (click)="clickTeam(team)">{{team.name}}<mat-icon class="mat-icon-points">more_vert</mat-icon></button>
        <mat-menu #menu="matMenu" xPosition="after">
          <button mat-menu-item [matMenuTriggerFor]="moveTo">Move to</button>
          <button mat-menu-item>Hide</button>
          <button mat-menu-item (click)="deleteTeam(team)">Delete</button>
          <button mat-menu-item (click)="openModalEditTeam(team)">Edit</button>
        </mat-menu>
        <mat-menu #moveTo="matMenu">
          <div *ngFor="let category of sportKinds">
            <div *ngIf="category.leagues.length; then existSubCategoryBlock else noSubCategoryBlock"></div>
            <ng-template #existSubCategoryBlock>
              <button mat-menu-item [matMenuTriggerFor]="subcat">{{category.name}}</button>
              <mat-menu #subcat="matMenu">
                <div *ngFor="let subCategory of category.leagues">
                  <button mat-menu-item>{{subCategory.name}}</button>
                </div>
              </mat-menu>
            </ng-template>
            <ng-template #noSubCategoryBlock>
              <button mat-menu-item>{{category.name}}</button>
            </ng-template>
          </div>
        </mat-menu>
      </div>
    </div>
  </div>
</div>
