<!DOCTYPE html>
<html>
<title>Main</title>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link href="https://fonts.googleapis.com/css2?family=Hind:wght@300;500;700&family=Roboto+Condensed:ital,wght@1,700&display=swap" rel="stylesheet">
</head>

<body>

<div class="header">


  <a href="/main" class="logo">
    <div class="logo_txt">Sports Hub</div>
  </a>
  <div class="line"></div>


  <div class="search-container">
    <input type="text" placeholder="{{ 'HEADER.SEARCH' | translate}}" name="search">
    <button type="submit"><i class="fa fa-search"></i></button>

  </div>

  <app-social-share></app-social-share>

</div>



<div *ngIf="authenticated">
  <app-header-user-profile></app-header-user-profile>
</div>

<div *ngIf="!authenticated">
  <a href="/register" class="txt">{{'REG.SIGNUP'|translate}}</a>
  <a href="/login" class="btn">
    <div class="btn_txt">{{'REG.LOGIN'|translate}}</div>
  </a>
</div>


<app-lang></app-lang>

<div class="main">

  <div class="back_txt2">{{team['name']}}</div>
  <div class="back_txt">{{ 'BODY.BACKTXT2' | translate}}</div>
  <div class="sidebar">
    <div class="sidebar_text">
      <a class="txt1" href=""><b><main_kinds></main_kinds></b></a><br>
    </div>

    <div class="sidebar_icon">
      <span class="txt1">{{ 'BODY.FOLLOW' | translate}}</span>
      <div class="sidebar_follow">
        <a href="https://twitter.com" class="fa fa-twitter"></a>
        <a href="https://google.com" class="fa fa-google"></a><br>
        <a href="https://youtube.com" class="fa fa-youtube"></a>
        <a href="https://facebook.com" class="fa fa-facebook"></a><br><br><br><br><br>
      </div>
    </div>
  </div>


  <div class="block_right">
    <div class="block_1">
      <div class="photo">
        <img class="photo" src="{{article['image']}}">
      </div>
      <div class="side_bloke">
        <p>{{ 'BODY.DATE' | translate}} / {{ date}}</p>
        <span class="side_bloke_p1"><b> {{article['title']}}</b></span>
        <br>
        <span class="side_bloke_p2"><b>{{article['description']}}</b></span>
        <a [routerLink]="['/article', article['id']]" class="side_bloke_button"><b class="">{{ 'BODY.MORE' | translate}}</b></a>
      </div>
    </div>
    <div class="block_2"></div>


  </div>
  <div class="newstext">
    <div class="block" *ngIf="team">
          <img src="{{team['image_url']}}}" style="width: 200px; height: 200px; margin-bottom: 30px;">
    <div class="toptxt"><b>{{team['name']}}</b>
    <div class="team_info" style="margin-top: 20px">Country: <b>{{team['state']}}</b>
      <div class="team_info">Coach: <b>{{team['coach']}}</b></div></div>
    </div>
    </div>
    <div class="mcards" [routerLink]="['/article', e['id']]" *ngFor="let e of list;">
        <div  class="mcard">
          <img class="mcard_photo" src="{{e['image']}}" alt="photo news">
          <div class="mcard_text"><b>{{ e['title'] }}</b>
            <p >{{e['description']}}</p></div>
        </div>
    </div>
  </div>


</div>




<br><br><br>
<div class="footer">
  <div>Copyright ©2022 Sports Hub<br>{{ 'FOOTER.PRIVACY' | translate}} / {{ 'FOOTER.TERMS' | translate}}</div>
</div>
</body>
