<form [formGroup]="form">
<!--  <div class="picture">-->
<!--    <p>PICTURE*</p>-->
<!--    <div class="dashed">-->
<!--      <h2 class="data-dash">-->
<!--        <mat-icon>camera_alt</mat-icon>-->
<!--        <br> +Add picture or drop it right here <br> You can add next formats: png., jpg., jpeg., tif.-->
<!--      </h2>-->
<!--    </div>-->
<!--  </div>-->

  <app-article-photo-uploader (childToParent)="childToParent($event)"></app-article-photo-uploader>



  <div class="container">

    <div class="sport-kinds">
      <p>CATEGORY</p>
      <mat-form-field appearance="fill">
        <mat-label>Not Selected</mat-label>
        <mat-select (selectionChange)="changeKindOfSport($event)">
          <mat-option *ngFor="let category of sportKinds " [value]= "category">{{category.name}}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div class="league">
      <p>SUBCATEGORY</p>
      <mat-form-field appearance="fill">
        <mat-label>Not Selected</mat-label>
        <mat-select (selectionChange)="changeLeague($event)" formControlName="league">
          <mat-option *ngFor="let league of leagues" [value] = "league">{{league.name}}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div class="team">
      <p>TEAM</p>
      <mat-form-field appearance="fill">
        <mat-label>Not Selected</mat-label>
        <mat-select multiple formControlName="teams">
          <mat-option *ngFor="let team of teams" [value]="team">{{team.name}}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>


  </div>

  <div class="date">
    <p>PUBLICATION DATE</p>
    <mat-form-field appearance="fill">
      <mat-label>Choose a date</mat-label>
      <input matInput [matDatepicker]="picker" formControlName="publicationDate">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
  </div>

  <div class="alt">
    <p>ALT.*</p>
      <mat-form-field class="example-full-width" appearance="fill">
        <input matInput placeholder="Alternative text for picture" formControlName="alternativeText">
      </mat-form-field>
  </div>

  <div class="title">
    <p>ARTICLE HEADLINE*</p>
      <mat-form-field class="example-full-width" appearance="fill" >
        <input matInput placeholder="Name" formControlName="title">
      </mat-form-field>
  </div>

  <div class="caption">
    <p>CAPTION*</p>
      <mat-form-field class="example-full-width" appearance="fill">
        <input matInput placeholder="Write caption text here" formControlName="caption">
      </mat-form-field>
  </div>

  <div class="content">
    <p>CONTENT*</p>
    <ejs-richtexteditor id='article-text' class="article-text" formControlName="description">
      <ng-template #valueTemplate>
        <p></p>
      </ng-template>
    </ejs-richtexteditor>
  </div>


  <div class="footer-but">
    <div class="custom-switch">
      <p>Comments: Show
        <mat-slide-toggle color="warn"></mat-slide-toggle>
      </p>
    </div>

    <div class="button-add">
      <button mat-raised-button color="warn" (click)="addArticle()">Add</button>
    </div>
  </div>
</form>

