<div class="picture">
  <p>PICTURE*</p>
  <div class="dashed">
    <h2 class="data-dash">
      <mat-icon>camera_alt</mat-icon>
      <br> +Add picture or drop it right here <br> You can add next formats: png., jpg., jpeg., tif.</h2>
  </div>
</div>

<div class="container">
<div class="league">
  <p>SUBCATEGORY</p>
  <mat-form-field appearance="fill">
    <mat-label>Not Selected</mat-label>
    <mat-select>
      <mat-option>

      </mat-option>
    </mat-select>
  </mat-form-field>
</div>

<div class="team">
  <p>TEAM</p>
  <mat-form-field appearance="fill">
    <mat-label>Not Selected</mat-label>
    <mat-select>
      <mat-option>

      </mat-option>
    </mat-select>
  </mat-form-field>
</div>

<div class="date">
  <p>PUBLICATION DATE</p>
  <mat-form-field appearance="fill">
    <mat-label>Choose a date</mat-label>
    <input matInput [matDatepicker]="picker">
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>
</div>
</div>

<div class="alt">
  <p>ALT.*</p>
  <form class="alt-form">
    <mat-form-field class="example-full-width" appearance="fill">
      <input matInput placeholder="Alternative text for picture">
    </mat-form-field>
  </form>
</div>

<div class="title">
  <p>ARTICLE HEADLINE*</p>
  <form class="alt-form">
    <mat-form-field class="example-full-width" appearance="fill">
      <input matInput placeholder="Name">
    </mat-form-field>
  </form>
</div>

<div class="caption">
  <p>CAPTION*</p>
  <form class="alt-form">
    <mat-form-field class="example-full-width" appearance="fill">
      <input matInput placeholder="Write caption text here">
    </mat-form-field>
  </form>
</div>

<div class="content">
  <p>CONTENT*</p>
  <form class="alt-form">
    <mat-form-field class="example-full-width" appearance="fill">
      <textarea matInput placeholder="Please add text here"></textarea>
    </mat-form-field>
  </form>
</div>

<div class="custom-switch">
<!--  <input type="checkbox" class="custom-control-input" id="customSwitches">-->
<!--  <label class="custom-control-label" for="customSwitches">Comments: Show</label>-->
  <p>Comments: Show <mat-slide-toggle color="warn"></mat-slide-toggle></p>
</div>
