<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
<title>Main</title>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src=
            "https://code.jquery.com/jquery-1.12.4.min.js">
  </script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/js/bootstrap.min.js"></script>
  <link
    href="https://fonts.googleapis.com/css2?family=Hind:wght@300;500;700&family=Roboto+Condensed:ital,wght@1,700&display=swap"
    rel="stylesheet">
</head>

<body>


<div class="header">

  <a href="/main" class="logo">
    <div class="logo_txt">Sports Hub</div>
  </a>
  <div class="line"></div>

  <div class="search-container">
    <input style="height: 83px; width: 400px; font-size: 18px; border: none; background: white;" type="text" placeholder="Search.." name="search">
    <button type="submit"><i class="fa fa-search"></i></button>

  </div>

<!--  <div class="share-container">-->
<!--    <div class="txt1">Share</div>-->
<!--    <a href="https://facebook.com" class="fa fa-facebook"></a>-->
<!--    <a href="https://twitter.com" class="fa fa-twitter"></a>-->
<!--    <a href="https://google.com" class="fa fa-google"></a>-->
<!--  </div>-->
  <app-social-share></app-social-share>
</div>
<app-header-user-profile [arr]="arr" [arr2]="arr2"></app-header-user-profile>

<app-lang></app-lang>

<div class="main">
  <div class="sidebar">
    <div class="sidebar_text">
      <main_kinds></main_kinds>
      <div class="txt1"><a class="txt1" href="/video">VIDEO</a><br></div>
      <div class="txt1"><a class="txt1" href="/lifestyle">LIFESTYLE</a><br></div>
      <div class="txt1"><a class="txt1" href="/dealbook">DEALBOOK</a></div>
    </div>



  </div>
  <div id="middleForm">
    <div id="TopContainerInMiddle">
      <div class="switch-field">
        <input [value]="0"
               [(ngModel)]="isVisible" [checked]="isSelected" type="radio" id="radio-one" name="switch-one"
               value="first" checked/>
        <label id="radio-one_" for="radio-one"><p style="padding-top: 0.6vw">Personal</p></label>
        <input  [value]="1"
               [(ngModel)]="isVisible" [checked]="isSelected"  type="radio" id="radio-two" name="switch-one"
               value="second"/>
        <label id="radio-two_" for="radio-two"><p style="padding-top: 0.6vw">Change password</p></label>
        <input  [value]="2"
               [(ngModel)]="isVisible" [checked]="isSelected"  type="radio" id="radio-three" name="switch-one"
               value="second"/>
        <label id="radio-three_" for="radio-three"><p style="padding-top: 0.6vw">Team hub</p></label>
      </div>

      <div style="width: 10vw; margin-left: 8vw;" *ngIf="imageAdd && !isVisible">
        <app-uploader [destination]="UserProfileUpload" [AnyId]="1" ></app-uploader>
      </div>

      <form [formGroup]="form" (ngSubmit)="Submit()">
      <div class="showDiv" *ngIf="isVisible == 0">

        <div *ngIf="!imageAdd" style="margin-left: auto; margin-right: auto;width: 7vw;height: 7vw;" >
          <img [src]="profileUrl" style="position: absolute; border-radius: 50%;width: 7vw;height: 7vw;">
          <div
            style="position:absolute;background-color: #d72130; border-radius: 50%;height: 2.2vw; width: 2.2vw;float: right;margin-top: 4.5vw; margin-left: 5vw">
            <i style="color:white;font-size: 1vw; padding: 0.6vw" class="fa fa-camera" aria-hidden="true" (click)="imageAdd=true"></i></div>

        </div>





          <div style="margin-top: 1vw">
            <p style="color: #9fa6b2">First name</p>
            <input id="firstName" formControlName="firstName" class="TextFields" type="text" name="fname" ><br>
          </div>
          <div style="margin-top: 1vw">
            <p style="color: #9fa6b2">Last name</p>
            <input style="height: 2.05vw;width: 24vw" type="text" matInput  formControlName="lastName" class="TextFields" type="text" name="fname" ><br>
          </div>
          <button mat-raised-button type="submit"
            style="color : white; margin-top: 2vw; font-size: 0.9vw; height: 2vw;width: 25.3vw;line-height: 0;border-radius: 0;border: none;background-color: #d72130">
            UPDATE PROFILE
          </button>


      </div>
      </form>

      <form [formGroup]="form2" (ngSubmit)="Submit2()">
      <div class="showDiv2" *ngIf="isVisible == 1">
        <div style="margin-top: 1vw">
          <p style="color: #9fa6b2">OLD PASSWORD</p>
          <input style="height: 2.5vw" formControlName="OldPassword" class="TextFields" type="text" name="fname" value="Some value"><br>
        </div>
        <a class="aLink" href="/forgot_password">{{'LOGIN.FGTPASS' | translate}}</a>

        <div style="margin-top: 1vw">
          <p style="color: #9fa6b2">NEW PASSWORD</p>

          <mat-form-field style="width: 25.3vw" class="full-width" appearance="outline">
            <mat-label>Enter new password</mat-label>
            <label>
              <input formControlName="NewPassword" matInput [type]="hide ? 'password' : 'text'" required placeholder="some pass" >
            </label>
            <button  mat-icon-button type="button" matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
              <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
            <!--        <mat-error *ngIf="form.hasError('required','password')">Must be 8 digits at least</mat-error>-->
          </mat-form-field>



        </div>

        <div style="margin-top: 1vw">
          <p style="color: #9fa6b2">PASSWORD CONFIRMATION</p>
          <mat-form-field style="width: 25.3vw" class="full-width" appearance="outline">
            <mat-label>Confirm new password</mat-label>
            <label>
              <input formControlName="passwordConfirmation" matInput [type]="hide ? 'password' : 'text'" required placeholder="some pass" >
            </label>
            <button  mat-icon-button type="button" matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
              <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
            <!--        <mat-error *ngIf="form.hasError('required','password')">Must be 8 digits at least</mat-error>-->
          </mat-form-field>
        </div>
        <button mat-raised-button type="submit"
          style="color : white; margin-top: 2vw; height: 2vw;width: 25.3vw;border-radius: 0;border: none;background-color: #d72130">
          CHANGE PASSWORD
        </button>


      </div>
      </form>


      <form [formGroup]="form3">
        <div class="team_hub" *ngIf="isVisible==2">
          <div class="search-head"><b>{{'TEAMHUB.FOLLOW' | translate}}</b></div>
          <app-search-team-follow (searchTextChanged)="onSearchTextEntered($event)"></app-search-team-follow>
          <div *ngFor="let e of teams">
            <div *ngIf="searchText === '' || e['name'].toLowerCase().includes(searchText)">
              <div class="team_card">
                <img alt="logo" src="{{getImage(e['image_url'])}}" class="team_img">
            <div class="content">
              <div class="team_name">{{e['name']}}</div>
                <div class="team_coach">{{'TEAMHUB.COACH' | translate}}: {{e['coach']}}</div>
                <button class="follow_team" id="follow_btn" (click)="follow(e['id'])" *ngIf="!followedTeams2.includes(e['id'])">
                  {{'BODY.FOLLOW' | translate}}</button>
              <button class="follow_team" id="follow_btn2" (click)="delete(e['id'])" *ngIf="followedTeams2.includes(e['id'])">
                {{'TEAMHUB.UNFOLLOW' | translate}}</button>
            </div>

              </div>
            </div>
          </div>
        </div>
      </form>

    </div>

  </div>

</div>

</body>

