
.search-container {
  float: left;
  margin-left: 270px;
  border-right: 1px solid #EDEDED;
  text-align: center;

}
.search-container button {
  height: 83px;
  color: #000000;
  float: left;
  background: #ffffff;
  font-size: 18px;
  border: none;
  cursor: pointer;
}

.share-container {
  height:16px;
  border-right: 1px solid #EDEDED;
  margin-right: 500px;
  margin-left: 720px;
  padding: 34px 45px 34px 34px;
}
.share-container a {
  margin-top: -24px;
  margin-left: 35px;
  color: #000000;
  float: right;
  background: #ffffff;
  font-size: 25px;
  border: none;
  cursor: pointer;
}

.profile-container {
  margin-top: -80px;
  float: right;
  text-align: center;
  height: 200px;
  position: absolute;
  margin-left:78vw;
  z-index: 2;
}

.profile{
  margin-top: 15px;
  margin-right: 220px;
}

.profile_img{
  position: absolute;
  width: 40px;
  height: 40px;
  background: url(src/assets/img/primg.jpg) no-repeat;
  margin: 20px 20px 20px -60px;
  border-radius: 50%;
}

.language{
  margin-top: -65px;
  margin-right: -350px;
  width: 80px;
  float: right;
  position: absolute;
  margin-left:90vw;
  z-index: 2;
}

@media screen and (min-width: 1280px) and (max-width: 1745px){
  .profile-container {
    margin-top: -80px;
    float: right;
    text-align: center;
    height: 200px;
    position: absolute;
    margin-left:73vw;
    z-index: 2;
  }
}

.back_txt{
  position: absolute;
  width: 343px;
  height: 192px;
  left: 1120px;
  top: 710px;
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 700;
  font-size: 141px;
  line-height: 192px;
  letter-spacing: 1.25893px;
  color: rgba(204, 211, 224, 0.301628);
  transform: rotate(90deg);


}
.back_txt2 {
  position: absolute;
  width: 254px;
  height: 192px;
  left: 105px;
  top: 140px;
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 700;
  font-size: 141px;
  line-height: 192px;
  letter-spacing: 1.25893px;
  color: rgba(204, 211, 224, 0.301628);
  transform: rotate(90deg);
}
.line {
  position: absolute;
  width: 100%;
  height: 1px;
  left: 0px;
  top: 84px;

  background: #EDEDED;
  transform: matrix(1, 0, 0, -1, 0, 0);
}

.txt1{
  font-family: 'Open Sans', sans-serif;
  color: #919191;
  font-size: 16px;
  text-decoration: none;
}

a:hover{
  color: #D72130;
  transition: all 1s ease;
}

.footer{
  position: absolute;
  float: bottom;
  width: 1485px;
  height: 40px;
  text-align: right;
  background: #D72130;
  padding: 17px;
}

.footer p{
  color: white;
  font-size: 12px;
}

.main{
  display: flex;
}
.sidebar{
  padding-left: 52px;
  width: 200px;
  min-height: 100px;
}
.sidebar_text{
  width: 100px;
  min-height: 100px;
}

.sidebar_follow a{
  color: #000000;
  background: #ffffff;
  font-size: 25px;
  border: none;
  cursor: pointer;
  text-decoration: none;
  margin: 12px 12px 0px 0;
}

.sidebar_text main_kinds{
  color: #b2b2b2;
  font-weight: bold;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
}


.sidebar_icon{
  margin-top: 50px;
  min-height: 50px;
  width: 100px;
}
.icon_block{
  display: flex;
}
.main{
  margin-top: 80px;
  width: 100%;
  min-height: 400px;
}
.side_bloke{
  width: 420px;
  min-height: 220px;
  background-color: #f5f5f5;
  padding-top: 30px;
  padding-left: 15px;
  position: absolute;
  top: 230px; right: 120px;
  z-index: 2;
}
.side_bloke_button {
  background: #D72130;
  width: 158px;
  position: absolute;
  text-align: center;
  bottom: 0;
  left: 0;
  font-size: 17px;
  font-style: normal;
  padding: 15px;
  text-decoration: none;
  color: white;
}
.side_bloke_button:hover{
  background: #ad1a23;
  color: white;
  transition: all 1s ease
}

.side_bloke p{
  font-family: 'Open Sans', sans-serif;
  color: #b2b2b2;
  font-size: 14px;
}
.side_bloke_p1{
  font-family: 'Open Sans', sans-serif;
  color: #D72130;
  font-size: 15px;
}
.side_bloke_p2{
  font-family: 'Open Sans', sans-serif;
  color: black;
  font-size: 18px;
}

.photo{
  position: absolute;
  width: 900px;
  height: 460px;
  background: url(src/assets/img/main-photo-article.png);
  background-size: 100%;
  background-repeat: no-repeat;
  z-index: 1;
}
.photo_button {
  background: #2f2f2f;
  width: 100px;
  text-align: center;
  top: 0;
  left: 0;
  font-size: 15px;
  font-style: normal;
  padding: 10px;
  text-decoration: none;
  color: white;
  z-index: 2;
}

.block_2{
  width: 100%;
  margin-top: 30px;
}
.cards{
  margin-left: -20px;
  display: flex;
  justify-content: space-between;
  width: 940px;
  margin-top: 510px;

}
.card{
  width: 200px;
  height: 300px;
  padding: 10px;
  text-decoration: none;
  color: black;
}
.card_photo{
  margin: 0 10px 0;
}
.card:hover{
  box-shadow: 0 2px 24px rgba(0, 0, 0, 0.110932);
}
.cards:hover  p,h4,img{box-shadow: none;}


.card p,h4{
  margin: 10px;
}
#middleForm{
  float: left;
  margin-left: 23vw;
  width: 30vw;
  height: 20vw;
}
#TopContainerInMiddle{
  height: 2vw;
}






.switch-field {
  width: 25vw;
  overflow : visible;
  display: flex;
  margin-bottom: 36px;
}

.switch-field input {
  position: absolute !important;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  width: 1px;
  border: 0;
  overflow: hidden;
}

.switch-field label {
  background-color: white;
  color: rgba(0, 0, 0, 0.6);
  font-size: 14px;
  line-height: 1;
  text-align: center;

  margin-right: -1px;
  /*border: 1px solid rgba(0, 0, 0, 0.2);*/
  /*box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.1);*/
  border: 1px solid #d4d9e2;
  box-shadow: none;
  height: 2vw;
  transition: all 0.1s ease-in-out;
}

.switch-field label:hover {
  cursor: pointer;
}

.switch-field input:checked + label {
  border: none;
  background-color: white;
  box-shadow: 1px 1px 5px 5px #dbdada;
  z-index: 2;
  color: #d72130;
}

.switch-field label:first-of-type {
  /*border-radius: 4px 0 0 4px;*/
}

.switch-field label:last-of-type {
  /*border-radius: 0 4px 4px 0;*/
}

/* This is just for CodePen. */


#radio-one_{
  width: 8vw;
}
#radio-two_{
  width: 12vw;
}
#radio-three_{
  width: 8vw;
}
.form {

  font-family: "Lucida Grande", Tahoma, Verdana, sans-serif;
  font-weight: normal;
  line-height: 1.625;
  margin: 8px auto;
  /*padding: 16px;*/
}


.showDiv {
  margin-top: 5vw;
  width: 25vw;
}

.showDiv2 {
  margin-top: 5vw;
  width: 25vw;
}
.hideDiv {
  display: none;
}
.TextFields{
  padding-left: 1vw;
  border: 1px solid #d4d9e2;
  box-shadow: none;
  width: 24vw;
  font-size: 0.8vw;
  height: 2vw;
}
::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline-start, .mat-form-field-appearance-outline .mat-form-field-outline-end{
  border-radius: 1px 0 0 1px !important;

}

::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline-end{
  border-radius: 0 1px 1px 0 !important;
}

.team_card{
  border-top: 1px solid #adadad;
  height: 50px;
}

.team_hub{
  padding-top: 10px;
  background: #f6f6f6;
  width: 25vw;
  margin-bottom: 40px;
  height: auto;
  max-height: 450px;
  overflow: auto;
}
.team_name{
  margin-left: 60px;
}
.team_coach{
  color: #797979;
  font-size: 13px;
  margin-left: 60px;

}
.follow_team{
  float: right;
  padding: 5px 10px 5px 10px;
  margin-top: -35px;
  margin-right: 10px;
  background: #D72130;
  color: white;
  border: none;
  font-family: 'Open Sans', sans-serif;
  display: block;
  text-align: center;
  width: 100px;
  height: 30px;
}

#follow_btn2{
  background: #969696;

}
#follow_btn2:hover{
  cursor: pointer;
  background: #858585;
  transition: all 400ms ease
}
.follow_team:hover{
  cursor: pointer;
  background: #bb1d29;
  transition: all 400ms ease
}

.search-head{
  text-align: center;
  color: #626262;
}

.team_img{
  height: 50px;
  width: 50px;
  display: block;
}

.content{
  margin-top: -45px;
}
