<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>


<body>

<div class="header">
  <a href="/main" class="logo">
    <div class="logo_txt">Sports Hub</div>
  </a>
  <div class="text">Don't have an account?</div>
  <a href="/register" class="btn">
    <div class="btn_txt">Get started</div>
  </a>
</div>


<div class="container">
  <div *ngIf="!success">
    <h1>Forgot your password?</h1>
    <h3>Enter your email address below and we’ll get you back on track.</h3>
  </div>

  <form *ngIf="!success" [formGroup]="form" (ngSubmit)="onSubmit()">
    <h4>Email</h4>
    <mat-form-field appearance="outline">
      <mat-label>Enter your email</mat-label>
      <input matInput placeholder="pat@example.com" formControlName="email">
      <mat-error *ngIf="form.hasError('required','email')">Not valid</mat-error>
      <!--      <span *ngIf="form.get('email').errors['email']">Email can't be empty</span>-->

    </mat-form-field>

    <button mat-raised-button type="submit" class="save-button" [disabled]="form.invalid" >Submit</button>

  </form>


<div *ngIf="success">
  <a class="icon"></a>
  <div class="txt">
    <p>Check your email</p>
    <p>If there's Sports Hub account linked to this email address, we'll send over instructions to reset your password.</p>
  </div>
</div>







  <h1></h1>
  <!--  <a href="" class="btn2">-->
  <!--    <div class="btn2_txt">Sign Up</div>-->
  <!--  </a>-->


  <!--  <button mat-raised-button class="save-button" [disabled]="form.invalid || !!formError">Log in</button>-->
  <!--  <mat-error *ngIf="formError">{{formError}}</mat-error>-->

</div>


<div class="photo"></div>
</body>



