<!DOCTYPE html>
<html>
<title>Main</title>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link href="https://fonts.googleapis.com/css2?family=Hind:wght@300;500;700&family=Roboto+Condensed:ital,wght@1,700&display=swap" rel="stylesheet">
</head>

<body>

<div class="header">

  <a href="/main" class="logo">
    <div class="logo_txt">Sports Hub</div>
  </a>
  <div class="line"></div>


  <div class="search-container">
    <input type="text" placeholder="{{ 'HEADER.SEARCH' | translate}}" name="search">
    <button type="submit"><i class="fa fa-search"></i></button>

  </div>

  <app-social-share></app-social-share>

</div>
  <app-header-user-profile></app-header-user-profile>



<app-lang></app-lang>

<div class="main">
  <div class="back_txt2">TEAM HUB</div>
  <div class="back_txt">{{ 'BODY.BACKTXT2' | translate}}</div>
  <div class="sidebar">
    <div class="sidebar_text">
      <a class="txt1" href=""><b><main_kinds></main_kinds></b></a><br>
    </div>


  </div>


    <div class="mcards" *ngIf="teams.length != 0">
      <a *ngFor="let e of teams; index as i">
        <div class="teamcard">
          <img src="{{e['image_url']}}" class="team_logo" alt="team logo">
        <button class="unfollow" (click)="openDialog(e['id'], id, e['name'])"><b>Unfollow</b></button>
        <div class="team_name" [routerLink]="['/team', e['id']]"><b>{{e['name']}}</b></div>
          <div class="following_txt">Following</div>
        </div>
        <div style="margin-bottom: 80px">
        <a [routerLink]="['/article', k['id']]" *ngFor="let k of news[i];">
          <div  class="mcard">
            <img class="mcard_photo" src="{{k['image']}}" alt="photo news">
            <div class="mcard_text"><b>{{ k['title'] }}</b>
              <p >{{k['description']}}</p></div>
          </div>
        </a>
        </div>
      </a>
    </div>

  <div class="mcards" *ngIf="teams.length==0">
    <div class="unfollowed_txt">You have not followed any team yet. To follow your favourite teams go to
      <a href="/profile">Profile</a> and click Team hub</div>
    <div class="unfollowed_txt2">Team news based on your country: <b>{{country}}</b></div>
    <a *ngFor="let e of teams3; index as i">
      <div class="teamcard">
        <img src="{{e['image_url']}}" class="team_logo" alt="team logo">
        <div class="team_name" [routerLink]="['/team', e['id']]"><b>{{e['name']}}</b></div>
        <div class="following_txt">Search this team in <a href="/profile" style="color: #D72130">Profile</a> to follow</div>
      </div>
      <div style="margin-bottom: 80px">
        <a [routerLink]="['/article', k['id']]" *ngFor="let k of news2[i];">
          <div  class="mcard">
            <img class="mcard_photo" src="{{k['image']}}" alt="photo news">
            <div class="mcard_text"><b>{{ k['title'] }}</b>
              <p >{{k['description']}}</p></div>
          </div>
        </a>
      </div>
    </a>
  </div>

</div>



<br><br><br>
<div class="footer">
  <div>Copyright ©2022 Sports Hub<br>{{ 'FOOTER.PRIVACY' | translate}} / {{ 'FOOTER.TERMS' | translate}}</div>
</div>
</body>
