<!DOCTYPE html>
<html>
<title>Main</title>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link href="https://fonts.googleapis.com/css2?family=Hind:wght@300;500;700&family=Roboto+Condensed:ital,wght@1,700&display=swap" rel="stylesheet">
</head>

<body>

<div class="header">

  <a href="/main" class="logo">
    <div class="logo_txt">Sports Hub</div>
  </a>
  <div class="line"></div>


  <div class="search-container">
    <input type="text" placeholder="{{ 'HEADER.SEARCH' | translate}}" name="search">
    <button type="submit"><i class="fa fa-search"></i></button>

  </div>

  <app-social-share></app-social-share>

</div>
  <app-header-user-profile></app-header-user-profile>



<app-lang></app-lang>

<div class="main">
  <div class="back_txt2">TEAM HUB</div>
  <div class="back_txt">{{ 'BODY.BACKTXT2' | translate}}</div>
  <div class="sidebar">
    <div class="sidebar_text">
      <a class="txt1" href=""><b><main_kinds></main_kinds></b></a><br>
    </div>


  </div>


    <div class="mcards" *ngIf="teams.length != 0">
      <a *ngFor="let e of teams; index as i">
        <div class="teamcard">
          <img src="{{getImage(e['image_url'])}}" class="team_logo" alt="team logo">
        <button class="unfollow" (click)="openDialog(e['id'], id, e['name'])"><b>{{'TEAMHUB.UNFOLLOW' | translate}}</b></button>
        <div class="team_name" [routerLink]="['/team', e['id']]"><b>{{e['name']}}</b></div>
          <div class="following_txt">{{'TEAMHUB.FOLLOWING' | translate}}</div>
        </div>
        <div style="margin-bottom: 80px">
        <a [routerLink]="['/article', k['id']]" *ngFor="let k of news[i];">
          <div  class="mcard">
            <img class="mcard_photo" src="{{k['image']}}" alt="photo news">
            <div class="mcard_text"><b>{{ k['title'] }}</b>
              <p >{{k['description']}}</p></div>
          </div>
        </a>
        </div>
      </a>
    </div>

  <div class="mcards" *ngIf="teams.length==0 && isReady">
    <div *ngIf="!country" class="fa fa-arrow-up"></div>
    <div class="unfollowed_txt">{{'TEAMHUB.NOFOLLOW' | translate}}
      <a href="/profile">{{'TEAMHUB.PROFILE' | translate}}</a> {{'TEAMHUB.NOFOLLOW2' | translate}}</div>
    <div class="unfollowed_txt2" *ngIf="country" >{{'TEAMHUB.GEONEWS' | translate}}: <b>{{country}}</b></div>
    <div class="unfollowed_txt2" *ngIf="!country">{{'TEAMHUB.ALLOWGEO' | translate}} <b>"{{'TEAMHUB.ALLOWGEO2' | translate}}"</b> {{'TEAMHUB.ALLOWGEO3' | translate}}</div>
    <a *ngFor="let e of teams3; index as i">
      <div class="teamcard">
        <img src="{{getImage(e['image_url'])}}" class="team_logo" alt="team logo">
        <div class="team_name" [routerLink]="['/team', e['id']]"><b>{{e['name']}}</b></div>
        <div class="following_txt">{{'TEAMHUB.TEAMFOLLOW' | translate}} <a href="/profile" style="color: #D72130">{{'TEAMHUB.PROFILE' | translate}}</a> {{'TEAMHUB.TEAMFOLLOW2' | translate}}</div>
      </div>
      <div style="margin-bottom: 80px">
        <a [routerLink]="['/article', k['id']]" *ngFor="let k of news2[i];">
          <div  class="mcard">
            <img class="mcard_photo" src="{{k['image']}}" alt="photo news">
            <div class="mcard_text"><b>{{ k['title'] }}</b>
              <p >{{k['description']}}</p></div>
          </div>
        </a>
      </div>
    </a>
  </div>

</div>



<br><br><br>

<app-site-footer></app-site-footer>

</body>
