h1, h2, h3, h4, h5, h6 {
  margin: 0;
}





body{
  background-color: white;
  background-repeat: no-repeat;
  background-attachment: fixed;
  margin: 0;
  -webkit-background-size: cover;
  background-size: cover;
}

.header{
  overflow: hidden;
  width: 100%;
  height: 83px;
}

.header a{
  float: left;
  display: block;
  color: black;
  text-align: center;
  /*padding: 14px 16px;*/
  text-decoration: none;
  font-size: 22px;
}

.logo{
  position: absolute;

  left: 0%;
  right: 0%;
  top: 0%;
  bottom: 0%;
  max-width: 253px;
  max-height: 83px;
  z-index: 100;
  background: #D72130;
  display: block;
  text-decoration: none;
}

.logo_txt {
  position: absolute;
  text-align: center;
  left: 26.88%;
  right: 26.09%;
  top: 31.33%;
  bottom: 34.94%;
  /*z-index: 100;*/

  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 28px;
  /* identical to box height, or 127% */


  color: #FFFBFB;

}

.row {
  margin: 10px 0;
  display: flex;
  flex-wrap: wrap;
}
.column {
  display: table-cell;
  float: left;
  width: 220px;
  vertical-align: middle;
  border-right: 10px;
  border-left: 10px;
  /*padding: 10px 10px;*/

}


.dropzone {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 20vw;
  font-weight: 200;
  height: 300px;
  border: 2px dashed #f16624;
  border-radius: 5px;
  background: white;
  margin: 10px 0;
}

.dropzone:hover{
  border: 2px solid #f16624;
  color: #dadada !important;
}



progress::-webkit-progress-value {
  transition: width 0.1s ease;
}
