h1, h2, h3, h4, h5, h6 {
  margin: 0;
}





body{
  background-color: white;
  background-repeat: no-repeat;
  background-attachment: fixed;
  margin: 0;
  -webkit-background-size: cover;
  background-size: cover;
}

.header{
  overflow: hidden;
  width: 100%;
  height: 83px;
}

.header a{
  float: left;
  display: block;
  color: black;
  text-align: center;
  /*padding: 14px 16px;*/
  text-decoration: none;
  font-size: 22px;
}

.logo{
  position: absolute;

  left: 0%;
  right: 0%;
  top: 0%;
  bottom: 0%;
  max-width: 253px;
  max-height: 83px;
  z-index: 100;
  background: #D72130;
  display: block;
  text-decoration: none;
}

.logo_txt {
  position: absolute;
  text-align: center;
  left: 26.88%;
  right: 26.09%;
  top: 31.33%;
  bottom: 34.94%;
  /*z-index: 100;*/

  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 28px;
  /* identical to box height, or 127% */


  color: #FFFBFB;

}

.row {
  margin: 10px 0;
  display: flex;
  flex-wrap: wrap;
}
.column {
  display: table-cell;
  float: left;
  width: 14.5vw;
  margin-right: 0.5vw;
  vertical-align: middle;
  border-right: 10px;
  border-left: 10px;
  /*padding: 10px 10px;*/

}


.photo_1{
  position: absolute;
  width: 70vh;
  height: 100%;
  left: 0px;
  top: 0px;
  background: url(src/assets/img/freddie-collins-527284-unsplash-1024x683.jpg);
  -webkit-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
}


.cont{
  max-width: 30vw;
  /*margin: 2em auto;*/
  text-align: center;
  /*max-height: 20vw;*/
}


.full-width{
  width: 100%;
}

.half-width{
  width: 50%;
}

.cont_txt{
  float: left;
}

.forgot-password{
  padding-left: 0px;
}

.email-input{
  padding-top: 10px;
}

.aLink{
  color: #4A90E2;
  float: right;
  padding-right: 60px;
  text-decoration: none;
}

