<div class="share-container">
  <div id="fb-root"></div>
  <script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v14.0&appId=2851340391840240&autoLogAppEvents=1" nonce="71Ac0H17"></script>
  <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
  <div class="txt1">{{ 'HEADER.SHARE' | translate}}</div>
  <div class="iconBox" *ngFor="let l of list">
   <i *ngIf="l.pictogram != twt && l.pictogram != faceb" style="font-size: 1.3vw" (click)="copySite(l.pictogram)" class="{{l.pictogram}}" data-show-count="false"></i><!-- {{l.url}}-->
<!--    <a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="fa fa-twitter twitter-share-button" data-show-count="false">Tweet</a>-->
    <a *ngIf="l.pictogram == twt && l.url == '1'" target="_blank" rel="noopener noreferrer"  class="twitter-share-button fa fa-twitter" (click)="openning('https://twitter.com/intent/tweet?text=See%20more%20on%20SportsHub%3A%0A')"></a>
<!--    /sharer/sharer.php?kid_directed_site=0&sdk=joey&u=http%3A%2F%2Flocalhost%3A4200%2Fmain&display=popup&ref=plugin&src=share_button-->
    <a *ngIf="l.pictogram == faceb && l.url == '1'" rel="noopener noreferrer" target="_blank" style="height: 10px;width: 10px" class="fa fa-facebook fb-xfbml-parse-ignore" (click)="openning2('https://www.facebook.com/sharer/sharer.php?kid_directed_site=0&sdk=joey&u=%27')"></a>

<!--    <div *ngIf="l.pictogram == faceb" class="fb-share-button" data-href="http://localhost:4200/main" data-layout="button_count" data-size="small"><a style="height: 20px;width: 20px;background-color: red" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fdevelopers.facebook.com%2Fdocs%2Fplugins%2F&amp;src=sdkpreparse" class="fb-xfbml-parse-ignore fa fa-facebook"></a></div>-->

<!--    <div class="fb-share-button" data-href="https://developers.facebook.com/docs/plugins/" data-layout="button_count" data-size="small"><a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fdevelopers.facebook.com%2Fdocs%2Fplugins%2F&amp;src=sdkpreparse" class="fb-xfbml-parse-ignore">Share</a></div>-->
<!--        <div class="fb-share-button" data-href="http://localhost:4200/main" data-layout="button_count" data-size="small"><a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fdevelopers.facebook.com%2Fdocs%2Fplugins%2F&amp;src=sdkpreparse" class="fb-xfbml-parse-ignore">Share</a></div>-->

  </div>

  <div *ngIf="show" class="editBox">

    <form [formGroup]="form" (ngSubmit)="OnSubmit()">
      <div style="margin-top: 0.5vw">
        <p style="color: #9fa6b2">url</p>
        <input type="text" matInput formControlName="url" class="TextFields" type="text" name="fname"><br>
      </div>
      <div style="margin-top: 0.5vw">
        <p style="color: #9fa6b2">icon</p>
        <input type="text" matInput formControlName="pictogram" class="TextFields" type="text" name="fname"><br>
      </div>
      <button mat-raised-button type="submit" [disabled]="form.invalid"
              style=" margin-left: 2.4vw;font-size: 0.8vw; color : white; margin-top: 1vw; height: 2vw;width: 5vw;border-radius: 0;border: none;padding:0;background-color: #d72130">
        Add share
      </button>
    </form>

  </div>

</div>

