.social-shareComponent{
  height: 2vw;
  width: 10vw;
  background-color: red;
}
.share-container {
  height: 17px;
  border-right: 1px solid #EDEDED;
  margin-right: 500px;
  margin-left: 720px;
  padding: 34px 45px 34px 34px;
}
.share-container a {
  color: #000000;
  background: #ffffff;
  font-size: 25px;
  border: none;
  cursor: pointer;
}
#edit{
  margin-top: -24px;
  margin-left: 20px;
  color: #000000;
  float: right;
  background: #ffffff;
  font-size: 25px;
  border: none;
  cursor: pointer;
}
.iconBox{
  height: 25px;
  width: 25px;
  margin-top: -24px;
  margin-left: 20px;
  float: right;
}
.editBox{
  width: 10vw;
  height: auto;
  padding-bottom: 1vh;
  box-shadow: 2px 2px 10px 10px rgba(0,0,0, .1);
  background-color: white;
  overflow: visible;
  position: absolute;
  margin-top: 1.5vw;
  z-index: 10;
}
.TextFields{
  height: 1vw;
  width: 9.55vw;
}
