

  <app-uploader></app-uploader>





<!--<app-image-editor src="https://firebasestorage.googleapis.com/v0/b/sportshub-623db.appspot.com/o/test%2F1652172550985_rui.png?alt=media&token=a44ac503-14b0-421b-9e9f-b2b11d2d5a8c"></app-image-editor>-->


<!--<div *ngIf="button1==true">-->
<!--  <app-image-editor [src]="url1" ></app-image-editor>-->
<!--  <app-image-filter></app-image-filter>-->
<!--</div>-->


<!--<img src="https://firebasestorage.googleapis.com/v0/b/sportshub-623db.appspot.com/o/test%2F1652172550985_rui.png?alt=media&token=a44ac503-14b0-421b-9e9f-b2b11d2d5a8c">-->



