.body{
  width: 430px;
  display: inline-grid;
}
.line{
  height: 1px;
  background: #adadad;
  margin-bottom: 10px;
}
.head{
  display: inline;
  margin-bottom: 10px;
}
.article{
  border: 1px #d9d9d9 solid;
  margin-bottom: -1px;
  height: 115px;
  display: block;
  overflow: auto;
}
.article:hover{
  cursor: pointer;
  box-shadow: 0 2px 24px rgba(0, 0, 0, 0.110932);
}
.img{
  width: 180px;
  height: 115px;
  margin-bottom: -5px;
  position: absolute;
}
.title{
  margin-top: 10px;
  margin-left: 190px;
  margin-right: 5px;
}
.descr{
  margin-left: 190px;
  margin-right: 5px;
  font-size: 12px;
  color: #969696;
}
::-webkit-scrollbar {
  width: 0.2vw;
  border-radius: 50%;
}

::-webkit-scrollbar-track {
  background: white;
}

::-webkit-scrollbar-thumb {
  background: #c4c4c4;
  border-radius: 10px;
}
